{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="wing--right  |  trailer">
	<h2 class="title title--section  |  gutters">{{ content.container_title|t(locales) }}</h2>
    {% if content.container_body|t(locales) %}
		<p class="gutters  |  title--apropos  |  trailer">{{ content.container_body|t(locales) }}</p>
    {% endif %}
	<form class="contact-form" method="post" action="https://ctaint.wufoo.eu/forms/w1gix37a14up7yf/">
		<div class="layout layout--even">
			<div class="layout__cell  |  gutters">
				<label class="fld-label  |  leader">{{ 'First Name'|t(locales) }}<span class="contact--required">*</span></label>
				<input class="fld" name="Field4" />
				<label class="fld-label  |  leader">{{ 'e-mail address'|t(locales) }}<span class="contact--required">*</span></label>
				<input class="fld" name="Field2" />
			</div>
			<div class="layout__cell  |  gutters">
				<label class="fld-label  |  leader">{{ 'Last Name'|t(locales) }}<span class="contact--required">*</span></label>
				<input class="fld" name="Field5" />
				<label class="fld-label  |  leader">{{ 'Phone'|t(locales) }}</label>
				<input class="fld" name="Field118" />
			</div>
		</div>
		<div class="gutters">
			<label class="fld-label  |  leader">{{ 'Subject'|t(locales) }}<span class="contact--required">*</span></label>
			<input class="fld" name="Field119" />

			<label class="fld-label  |  leader">{{ 'Your message'|t(locales) }}<span class="contact--required">*</span></label>
			<textarea class="fld" rows="4" name="Field1"></textarea>
		</div>
		<div class="media media--unfold  |  leader">
			<div class="media__body  |  gutters  |  trailer">
				<label><input class="fld-checkbox" name="Field120" type="checkbox"><span class="fld-radio  |  title--apropos">{{ 'Yes, I would like to receive the CTA newsletter on a regular basis'|t(locales) }}.</span></label>
				<label><input class="fld-checkbox" name="Field121" type="checkbox"><span class="fld-radio  |  title--apropos">{{ 'Yes, I would like to receive the Spore newsletter on a regular basis'|t(locales) }}.</span></label>
				<label><input class="fld-checkbox" name="Field122" type="checkbox"><span class="fld-radio  |  title--apropos">{{ 'I\'m interested in other CTA publications'|t(locales) }}.</span></label>
			</div>
			<div class="media__figure  |  gutters">
				<button class="button button--wide">{{ 'Submit'|t(locales) }}</button>
			</div>
		</div>
	</form>
</div>
