{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="trailer--small">
    <div class="media  |  leader--small">
        <div class="media__figure">
            <a class="icon icon--download" href="{{ file.metadata.url|t(locales) }}" target="_blank"></a>
        </div>
        <div class="media__body  |  gutters">
            <a class="block-link  |  download-size" href="{{ file.metadata.url|t(locales) }}" target="_blank">
                {% if file.name %}
                    {{ file.name|default(file.metadata.url)|t(locales) }}
                {% elseif file.description %}
                    {{ file.description|default(file.metadata.url)|t(locales) }}
                {% endif %}
            </a>
            <p class="download-size">{{ 'format'|i18n }} {{ file.contentType|extension }}{% if file.metadata.url|t(locales)|getFileSize %}, {{ file.metadata.url|t(locales)|getFileSize }}{% endif %}</p>
        </div>
    </div>
</div>
