{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="legenda  |  is-gt-small-desktop">
    <ul class="legenda__list  |  reset">
        <li class="legenda__item  |  title title--sub-section  |  trailer--small"><span class="legenda__item--identifier legenda__item--gold"></span>{{ 'Caribbean'|t(locales) }}</li>
        <li class="legenda__item  |  title title--sub-section  |  trailer--small"><span class="legenda__item--identifier legenda__item--orange"></span>{{ 'Western Africa'|t(locales) }}</li>
        <li class="legenda__item  |  title title--sub-section  |  trailer--small"><span class="legenda__item--identifier legenda__item--red"></span>{{ 'Eastern Africa'|t(locales) }}</li>
        <li class="legenda__item  |  title title--sub-section  |  trailer--small"><span class="legenda__item--identifier legenda__item--purple"></span>{{ 'Central Africa'|t(locales) }}</li>
        <li class="legenda__item  |  title title--sub-section  |  trailer--small"><span class="legenda__item--identifier legenda__item--yellow"></span>{{ 'Southern Africa'|t(locales) }}</li>
        <li class="legenda__item  |  title title--sub-section  |  trailer--small"><span class="legenda__item--identifier legenda__item--blue"></span>{{ 'Pacific'|t(locales) }}</li>
    </ul>
</div>
