{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{% if 'http' in link.page %}
    <a {{ helper.class_attribute({}, config.anchor_class)|raw }} target="_blank" href="{{ link.page|t(locales) }}">{{ link.label|t(locales) }}</a>
{% else %}
    {% set route = link.id ? route({'page': link.page|t(locales), 'slug': link.slug|default(link.page), 'id': link.id}) : route({'page': link.page|t(locales)})  %}
    <a {{ helper.class_attribute({}, config.anchor_class)|raw }} href="{{ route }}">{{ link.label|t(locales) }}</a>
{% endif %}
