{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<section>
	<h2 class="title title--section  |  media__body  |  gutters  |  trailer--hero">{{ 'project publications'|t(locales) }}</h2>
	<div class="tmp-publication">
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1778/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1778_Cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Moving herds, moving markets: Making markets work for African pastoralists</h2>
							<p>Drawing on 15 cases from nine countries this books offers some solutions to the huge challenges pastoralists encounter in trying to sell what they produce. With liberal use of tables, diagrams and illustrations, it documents impacts, good practices and lessons in the marketing of pastoralist livestock and livestock products. It depicts the problems faced by pastoralists, and shows in practical terms how governments, development projects, the private sector and pastoralists themselves can deal with these issues.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|t(locales) }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|t(locales) }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
							<p class="meta meta--lowercase">2013</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1616/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1616_cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">The role of livestock in developing communities: Enhancing multifunctionality</h2>
							<p>The livestock sector is characterised by enormous opportunies – but also serious challenges. With this in mind, the book provides timely and invaluable knowledge on the critical importance of livestock in poverty alleviation and human health promotion.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--100">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">1 {{ 'review'|t(locales) }}:</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
							<p class="meta meta--lowercase">2010</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1735/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1735_Cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Policy framework for pastoralism in Africa: Securing, protecting and improving the lives, livelihoods and rights of pastoralist communities</h2>
							<p>The Policy Framework for Pastoralism in Africa, as presented in this report, is the first continent-wide policy initiative aiming to secure, protect and improve the lives of African pastoralists. Pastoralists make crucial – but often undervalued – contributions to economies in Africa in terms of their production systems, culture, and animal and plant resources. Yet human development and food security indicators in many pastoral areas are among the lowest on the continent. The objectives of the framework are to protect the lives, livelihoods and rights of pastoral people, and to reinforce the contribution of pastoral livestock to national, regional and continent-wide economies.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|t(locales) }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|t(locales) }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
							<p class="meta meta--lowercase">2013</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>