{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<section>
	<h2 class="title title--section  |  media__body  |  gutters  |  trailer--hero">{{ 'project publications'|i18n }}</h2>
	<div class="tmp-publication">
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1992/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1992_Cover_scan_new_hoaoi2e.png" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Going to scale with ICTs for agriculture</h2>
							<p>The huge potential of ICT for agriculture (ICT4Ag), from increasing agricultural yields to helping farmers get a fairer price for their produce, is well documented. Technologies such as SMS applications, mobile banking and satellite data have been used successfully to give agricultural stakeholders access to farm mapping, weather data, marketing tools, financial credit, advice from extension workers, and social networks, among other things. These technological applications are capable of reaching hundreds of millions of smallholder farmers and stakeholders in rural areas, acting as a catalyst for positive change and in achieving the SDGs. However, limits on their reach include poor internet connectivity in the rural areas of developing nations, high illiteracy rates among smallholder farmers and fishers, and the inability of pilot projects to go to scale due to lack of long-term funding or not having measures for their sustainability built into the programme design.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|i18n }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|i18n }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|i18n }}:</p>
							<p class="meta meta--lowercase">2017</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1816/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1816_Cover_scan_h2xQepO.png" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Embracing Web 2.0 and social media: A life-changing pathway for agricultural development actors</h2>
							<p>ICTs have transformed the way people communicate and interact. For people in rural areas this transformation has been life-changing: farmers are promoting their products on Facebook; extension services are using social media to reach out to clients; and NGOs are using social media tools to mount advocacy campaigns. Featuring a range of examples from ACP countries, this inspiring booklet includes testimonies on how Web 2.0 and social media have contributed to improved policy dialogue and advocacy, value chain development and the provision of information services.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|i18n }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|i18n }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|i18n }}:</p>
							<p class="meta meta--lowercase">2015</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1817/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1817_Cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">ICTs for agriculture: Making it happen</h2>
							<p>The communications revolution provides a unique opportunity to transform the lives of hundreds of millions of farmers in developing countries. With its presentation of the key policy issues discussed at CTA’s ICT4Ag conference, this text provides a valuable insight into how this might be achieved. Issues addressed include developing better partnerships to improve the impact of ICTs in agriculture, strengthening the role of young women and men in ICT initiatives, supporting ICT4Ag entrepreneurship and promoting adequate infrastructure for ICTs in rural areas.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|i18n }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|i18n }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|i18n }}:</p>
							<p class="meta meta--lowercase">2014</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
