{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<section>
	<h2 class="title title--section  |  media__body  |  gutters  |  trailer--hero">{{ 'project publications'|t(locales) }}</h2>
	<div class="tmp-publication">
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1580/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1580_cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Market access and agricultural product marketing: Promoting farmer initiatives</h2>
							<p>Farmers in sub-Saharan Africa face significant obstacles in selling their agricultural products, including unstable prices, poor infrastructure, limited market information and lack of market access. This book brings together case-studies of initiatives developed by individual farmers and farmers' organisations to improve market access, and concludes with recommendations for supporting such initiatives.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|t(locales) }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|t(locales) }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
							<p class="meta meta--lowercase">2009</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1942/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1942_Cover_scan.png" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Including small-scale farmers in profitable value chains</h2>
							<p>This paper reports on six case studies commissioned by CTA to examine factors contributing to the success of inclusive value chains in ACP countries. All six studies are from Africa. They cover: (1) jatropha chains in Burkina Faso and Mali; (2) oilseeds in Uganda; (3) litchi in Madagascar; (4) cashew in Benin; (5) milk products in Senegal; and (6) bananas, pigs and aquaculture in Uganda.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--80">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">1 {{ 'review'|t(locales) }}:</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
							<p class="meta meta--lowercase">2016</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>