{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<section>
	<h2 class="title title--section  |  media__body  |  gutters  |  trailer--hero">{{ 'project publications'|i18n }}</h2>
	<div class="tmp-publication">
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1752/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1752_Cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Climate-smart agriculture success stories from farming communities around the world</h2>
							<p>Beautifully presented with full-colour photographs and accessible text, this booklet showcases 16 initiatives that are having a widespread impact on food security, adaptation to climate change and climate change mitigation. With examples from the developed and developing world, the stories show the potential of agriculture to be more resilient and protect farmers against future changes in weather patterns, pests and diseases, and to slow the rate of climate change itself.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--40">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">1 {{ 'review'|i18n }}:</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|i18n }}:</p>
							<p class="meta meta--lowercase">2013</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1936/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1936_Cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Climate change and Pacific Island food systems</h2>
							<p>Climate change in Pacific Island countries and territories (PICTs) is projected to have significant impacts, including rising sea-levels, more violent tropical cyclones and droughts. Fish stocks in the tropical regions of the Pacific are expected to be directly affected by any changes that may occur in the ocean’s ecosystem. The four alternative scenarios of the future of the Pacific food systems that are reported in this booklet provide important insights into the different dimensions of the food system, including fisheries and forests, trade, affordability and consumption, and public health. The scenarios offer essential information for policy-makers, in order for them to be able to test and take steps toward developing policies that enhance resilience and strengthen adaptation to climate change among fishers and farmers in the Pacific region.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|i18n }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|i18n }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|i18n }}:</p>
							<p class="meta meta--lowercase">2016</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1968/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1968_Cover_scan_XiJYaBp.png" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Value chain finance for agricultural climate change resilience</h2>
							<p>The purpose of this report is to explore the potential for agricultural value-chain finance (AVCF) to promote climate change resilience in ACP countries, focusing on the experiences of farmers and financiers with market-based lending and risk-mitigation finance products. This paper focuses on loans (i.e. debt, credit), but the role of concessional financing is discussed in the last section. By ACP countries, this paper specifically means the 79 state signatories to the Cotonou Agreement (the ACP-EC Partnership Agreement). These include 48 countries from Sub-Saharan Africa, 16 from the Caribbean and 15 from the Pacific.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|i18n }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|i18n }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|i18n }}:</p>
							<p class="meta meta--lowercase">2016</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
