{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<section>
	<h2 class="title title--section  |  media__body  |  gutters  |  trailer--hero">{{ 'project publications'|i18n }}</h2>
	<div class="tmp-publication">
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1936/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1936_Cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Climate change and Pacific Island food systems</h2>
							<p>Climate change in Pacific Island countries and territories (PICTs) is projected to have significant impacts, including rising sea-levels, more violent tropical cyclones and droughts. Fish stocks in the tropical regions of the Pacific are expected to be directly affected by any changes that may occur in the ocean’s ecosystem.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|i18n }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|i18n }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|i18n }}:</p>
							<p class="meta meta--lowercase">2016</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1837/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1837_Cover_scan_MDviXYP.png" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Agricultural Value Chain Guide for the Pacific Islands : Making value chain analysis a useful tool in the hands of farmers, traders and policy makers</h2>
							<p>Published in response to an assessment of the value chain support needs of ACP counties, this guide offers a practical resource on how to analyse and upgrade value chains. Easy to follow and generously illustrated, with numerous full-colour diagrams, charts and photos, the content is deliberately tailored to the needs of those who are actually employed in value chains in the Pacific. As well as an introduction to the topic and a step-by-step guide to value chain analysis, this accessible handbook provides a wealth of lessons from case studies, along with helpful additional tools and resources.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--100">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">1 {{ 'review'|i18n }}:</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|i18n }}:</p>
							<p class="meta meta--lowercase">2014</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/2005/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/2005_Cover_scan.png" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Transforming food systems in the Pacific</h2>
							<p>Many islands import most of their food, much of which is calorie-dense and of low nutritional value. It may be cheaper than local produce, but a diet based on imported food is leading to a whole range of health problems. All too often, nutritious indigenous foods are ignored by local populations, as they are seen as ‘poor people’s food’.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|i18n }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|i18n }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|i18n }}:</p>
							<p class="meta meta--lowercase">2017</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
