{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<section>
	<h2 class="title title--section  |  media__body  |  gutters  |  trailer--hero">{{ 'project publications'|t(locales) }}</h2>
	<div class="tmp-publication">
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1627/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1627_cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Soils of the Caribbean</h2>
							<p>Professor Ahmad’s comprehensive survey and detailed analysis of the soils of the Caribbean region is a pioneering effort to address sporadic and deficient research on the subject.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|t(locales) }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|t(locales) }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
							<p class="meta meta--lowercase">2011</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1931/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1931_Cover_scan_bZHCWtS.png" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">How an ICT knowledge platform can support agribusiness in the Caribbean region</h2>
							<p>In the Caribbean region, tourism is an essential element of the economy, and one of the sectors with the biggest growth in the recent years. The aim of this study is to explore the potential of how an ICT knowledge platform could support the development of the tourism-agribusiness linkages development.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|t(locales) }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|t(locales) }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
							<p class="meta meta--lowercase">2016</p>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="publication--wrapper  |  leader  |  trailer">
			<a class="anchor anchor--shy  |  is-heir  |  media" href="https://publications.cta.int/en/publications/publication/1843/">
				<div class="media__figure  |  gutters">
					<div class="publication">
						<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1843_Cover_scan.jpg" alt="" />
					</div>
				</div>
				<div class="media__content">
					<div class="media media--unfold">
						<div class="media__body  |  gutters">
							<h2 class="title  |  trailer--small">Agricultural open data in the Caribbean</h2>
							<p>Based around CTA’s 2014 AgriHack Talent Caribbean activity, which aimed to encourage youth ICT innovations in agriculture, this study provides indispensable data for future work. In particular, it presents the perspectives of Caribbean institutional stakeholders on open data in the agriculture sector, and how CTA and key institutions may support greater adoption of agricultural open data policies and practices across the region. Carried out through online surveys and in-depth interviews, this timely research provides several entry points to support greater adoption of open data within the Caribbean.</p>
						</div>
						<div class="media__figure  |  gutters">
							<div class="trailer--small  |  rating rating--00">
								<span class="rating__stars--inactive">★★★★★</span>
								<span class="rating__stars--active">★★★★★</span>
							</div>
							<div class="trailer--small">
								<p class="title title--sub-section">{{ 'review'|t(locales) }}:</p>
								<p class="meta meta--lowercase">{{ 'be the first to review'|t(locales) }}</p>
							</div>
							<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
							<p class="meta meta--lowercase">2015</p>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>