{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<div class="media media--unfold  |  trailer  |  gutters">
	<h2 class="title title--section  |  media__body">{{ 'project publications'|t(locales) }}</h2>
</div>
<div class="publication--wrapper  |  trailer">
	<a class="is-heir  |  media" href="javascript:void(0)">
		<div class="media__figure  |  gutters">
			<div class="publication">
				<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1889_Cover_scan_yGcSfhg.png" alt="Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa" />
			</div>
		</div>
		<div class="media__content">
			<div class="media media--unfold">
				<div class="media__body  |  gutters">
					<h2 class="title  |  trailer--small">Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa</h2>
					<p>Each year, 10 million young Africans enter the continent’s workforce, more than ever before. Although this highlights the great challenge of youth unemployment, it could also be a great opportunity – to encourage youth to be the engine behind the growth of Africa’s agriculture-based economies.</p>
				</div>
				<div class="media__figure  |  gutters">
					<div class="trailer--small  |  rating rating--80">
						<span class="rating__stars--inactive">★★★★★</span>
						<span class="rating__stars--active">★★★★★</span>
					</div>
					<div class="trailer--small">
						<p class="title title--sub-section">{{ 'review'|t(locales) }}:</p>
						<p class="meta meta--lowercase">{{ 'be the first to review'|t(locales) }}</p>
					</div>
					<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
					<p class="meta meta--lowercase">2016</p>
				</div>
			</div>
		</div>
	</a>
</div>
<div class="publication--wrapper  |  trailer">
	<a class="is-heir  |  media" href="javascript:void(0)">
		<div class="media__figure  |  gutters">
			<div class="publication">
				<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1889_Cover_scan_yGcSfhg.png" alt="Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa" />
			</div>
		</div>
		<div class="media__content">
			<div class="media media--unfold">
				<div class="media__body  |  gutters">
					<h2 class="title  |  trailer--small">Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa</h2>
					<p>Each year, 10 million young Africans enter the continent’s workforce, more than ever before. Although this highlights the great challenge of youth unemployment, it could also be a great opportunity – to encourage youth to be the engine behind the growth of Africa’s agriculture-based economies.</p>
				</div>
				<div class="media__figure  |  gutters">
					<div class="trailer--small  |  rating rating--80">
						<span class="rating__stars--inactive">★★★★★</span>
						<span class="rating__stars--active">★★★★★</span>
					</div>
					<div class="trailer--small">
						<p class="title title--sub-section">{{ 'review'|t(locales) }}:</p>
						<p class="meta meta--lowercase">{{ 'be the first to review'|t(locales) }}</p>
					</div>
					<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
					<p class="meta meta--lowercase">2016</p>
				</div>
			</div>
		</div>
	</a>
</div>
<div class="publication--wrapper  |  trailer">
	<a class="is-heir  |  media" href="javascript:void(0)">
		<div class="media__figure  |  gutters">
			<div class="publication">
				<img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1889_Cover_scan_yGcSfhg.png" alt="Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa" />
			</div>
		</div>
		<div class="media__content">
			<div class="media media--unfold">
				<div class="media__body  |  gutters">
					<h2 class="title  |  trailer--small">Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa</h2>
					<p>Each year, 10 million young Africans enter the continent’s workforce, more than ever before. Although this highlights the great challenge of youth unemployment, it could also be a great opportunity – to encourage youth to be the engine behind the growth of Africa’s agriculture-based economies.</p>
				</div>
				<div class="media__figure  |  gutters">
					<div class="trailer--small  |  rating rating--80">
						<span class="rating__stars--inactive">★★★★★</span>
						<span class="rating__stars--active">★★★★★</span>
					</div>
					<div class="trailer--small">
						<p class="title title--sub-section">{{ 'review'|t(locales) }}:</p>
						<p class="meta meta--lowercase">{{ 'be the first to review'|t(locales) }}</p>
					</div>
					<p class="title title--sub-section">{{ 'published'|t(locales) }}:</p>
					<p class="meta meta--lowercase">2016</p>
				</div>
			</div>
		</div>
	</a>
</div>
