{% import "macros/image.html.twig" as image %}
{% import "macros/author.html.twig" as author %}
{% import "macros/template.html.twig" as helper %}
{% set is_crowned = 'is-crowned' in helper.class_string(config, '')|raw %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<{{ config.container_tag|default('header') }}{{ helper.class_attribute(config, '')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    {% if model.metadata.id %}
        {{ image.hero(model, is_crowned, "article-header__image  |  image image--stretch") }}
    {% endif %}
    <div class="article-headline  |  layout layout--reverse">
        <div class="layout  layout--align-middle  |  layout__cell layout__cell--main">
            <div class="layout__cell layout__cell--main  |  gutters">
                <div class="leader-inside  |  trailer">
                    <h1 class="heading heading--hero">{{ content.title|t(locales) }}</h1>
                    {% if content.subtitle|t(locales) %}
                        <p class="article-headline__byline  |  meta  |  leader-inside">{{ content.subtitle|t(locales) }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="layout__cell layout__cell--aside  | wings">
                <span class="is-silent">&nbsp;</span>
            </div>
        </div>
        <div class="is-gt-small-desktop  |  layout__cell layout__cell--aside{{ containers and config.show_greenshoot and config.show_divider ? ' layout__cell--divider'}}  |  gutters  |  stack stack--stacked">
            {% if containers|length and config.show_greenshoot %}
                <div class="stack__unit stack__pin">
                    {% include containers|first.template with containers|first %}
                </div>
            {% else %}
                <span class="is-silent">&nbsp;</span>
            {% endif %}
        </div>
    </div>
</{{ config.container_tag|default('header') }}>
