{% import "macros/image.html.twig" as image %}
{% import "macros/author.html.twig" as author %}
{% import "macros/concept.html.twig" as concept %}
{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<{{ config.container_tag|default('header') }}{{ helper.class_attribute(config, 'article-headline  |  leader-inside--hero  |  trailer-inside--normal  |  layout layout--reverse')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="layout  |  layout__cell layout__cell--main">
        <div class="layout__cell layout__cell--main  |  gutters">
            <h1 class="trailer trailer-inside--tiny  |  heading heading--hero">{{ model.name|t(locales) }}</h1>
            {% if model.description %}
                <p class="article-headline__byline  |  meta  |  trailer">{{ model.description|t(locales) }}</p>
            {% endif %}
        </div>
        <div class="layout__cell layout__cell--aside  | wings">
            <div class="gutters">
                {% if model.query.must|filterArray('type', 'geo')|first %}
                    {% include "partials/location.html.twig" with {
                        "location": model.query.must|filterArray('type', 'geo')|first.sourceData,
                        "dark": true
                    } %}
                {% endif %}
                {% if model.query.must|filterArray('type', 'concept') %}
                    <ul class="reset label-list label-list--dark reset list--inline  leader--normal">
                        {% for label in model.query.must|filterArray('type', 'concept') %}
                            <li>
                                {{ concept.tag_name(label, locale) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="layout__cell layout__cell--aside  |  wings  |  trailer trailer-inside--small">
        {% if labels.description %}
            <p class="gutters">{{ labels.description|t(locales) }}</p>
        {% else %}
            <span class="is-silent">&nbsp;</span>
        {% endif %}
    </div>
</{{ config.container_tag|default('header') }}>
