{% set has_speakers = false %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{{ hashedPath('/assets/javascript/tabs.js')|addScript('beforeBodyEnd') }}
{{ 'containers/global/panels/panels.js.twig'|addScript('beforeBodyEnd', {
    tab_config: {
        selector: '.panel-group'
    }
}) }}

<section>
    <h1 class="is-narrative">{{ model.name }}</h1>
    <div class="layout layout--reversed  |  leader--hero">
        <div class="layout__cell layout__cell--aside layout__cell--divider  |  wings  |  trailer-inside--hero">
            <nav class="gutters">
                <ul class="is-gt-small-desktop  |  reset">
                    <li>
                        <a class="title title--tab" href="#overview">{{ 'Event Overview'|i18n }}</a>
                    </li>

                    {% for type in ['keynote', 'chair', 'speaker', 'panellist', 'moderator', 'rapporteur', 'facilitator', 'social_reporter', 'press_officer', 'translator'] %}
                        {% if model[type]|length > 0 %}
                            {% set has_speakers = true %}
                        {% endif %}
                    {% endfor %}

                    {% if has_speakers %}
                        <li>
                            <a class="title title--tab" href="#speakers">{{ 'Speakers'|i18n }}</a>
                        </li>
                    {% endif %}

                    {% if model.attendees|length > 0 %}
                        <li>
                            <a class="title title--tab" href="#attendees">{{ 'Attendees'|i18n }}</a>
                        </li>
                    {% endif %}

                    {% if model.organizer|length > 0 %}
                        <li>
                            <a class="title title--tab" href="#organisers">{{ 'Organisers'|i18n }}</a>
                        </li>
                    {% endif %}

                    {% if model.sponsor|length > 0 %}
                        <li>
                            <a class="title title--tab" href="#sponsors">{{ 'Sponsors'|i18n }}</a>
                        </li>
                    {% endif %}

                    {% if model.mediaObject | findType('document') | length > 0 %}
                        <li>
                            <a class="title title--tab" href="#downloads">{{ 'Downloads'|i18n }}</a>
                        </li>
                    {% endif %}
                </ul>
                {% if model.eventbrite and model.eventbrite.managedBySCR %}
                    <p class="leader  |  trailer">
                        <a class="button button--wide" href="{{ model.eventbrite.url }}" target="_blank">{{ 'Register now'|i18n }}</a>
                    </p>
                {% endif %}
            </nav>
        </div>
        <div class="panel-group  |  layout__cell  |  trailer-inside--hero" data-tab-config="{&quot;children&quot;: &quot;{{ tab_config.children|default('.panel') }}&quot;, &quot;attribute&quot;: &quot;{{ tab_config.attribute|default('href') }}&quot;, &quot;allowMultiple&quot;: {{ tab_config.allow_multiple|default(0) }}, &quot;openFirst&quot;: {{ tab_config.open_first|default(1) }}, &quot;scrollTo&quot;: {{ tab_config.scroll_to|default(1) }}}">

            {% include "containers/events/body/panels/overview.html.twig" %}

            {% if has_speakers %}
                {% include "containers/events/body/panels/speakers.html.twig" %}
            {% endif %}

            {% if model.attendees|length > 0 %}
                {% include "containers/events/body/panels/attendees.html.twig" %}
            {% endif %}

            {% if model.organizer|length > 0 %}
                {% include "containers/events/body/panels/organisers.html.twig" %}
            {% endif %}

            {% if model.sponsor|length > 0 %}
                {% include "containers/events/body/panels/sponsors.html.twig" %}
            {% endif %}

            {% if model.mediaObject | findType('document') | length > 0 %}
                {% include "containers/events/body/panels/downloads.html.twig" %}
            {% endif %}
        </div>
    </div>
</section>
