{% import "macros/share.html.twig" as share %}
{% import "macros/concept.html.twig" as concept %}
{% import "macros/author.html.twig" as author %}
{% import "macros/image.html.twig" as image %}
{% import "macros/date.html.twig" as date %}
{% import "macros/location.html.twig" as location %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<div class="layout layout--split">

    <div class="layout__cell layout__cell--main  |  wings  |  trailer-inside--hero  |  divider divider--right">
        <div>
            <div class="social__share  |  trailer  |  gutters">
                {{ share.bar_article(model, true) }}
            </div>
            <div class="post-body">
                {% if model.description %}
                    <p class="gutters  |  trailer  |  paragraph paragraph--lead">{{ model.description|appendBlankTarget|striptags('<strong><em><u><a><sub><sup>')|raw }}
                {% endif %}
                {# render the content blocks - if the first block is a list,
                we treat it as the event takeaways #}
                {% for i, contentBlock in model.contentBlocks %}
                    {% if show_take_aways|default(1) and i == 0  and contentBlock.type == 'list'%}
                        <div class="gutters  |  leader leader-inside--tiny  |  trailer">
                            {% include 'partials/content-blocks/' ~ contentBlock.type ~ '-p' with {'content': contentBlock} %}
                        </div>
                    {% else %}
                        {% include 'partials/content-blocks/' ~ contentBlock.type ~ '-' ~ contentBlock.subtype | default('raw') ~ '.html.twig' with {'content': contentBlock} %}
                    {% endif %}
                {% endfor %}
                <div class="well well--slim-fit  |  gutters-outside  |  leader  |  trailer">
                    {{ share.bar_article(model) }}
                </div>

                {% if model.analysis.agrovoc.concepts %}
                    <div class="gutters  |  trailer  |  leader leader-inside  |  divider divider--top">
                        <ul class="reset  |  tag-list  |  list--inline">
                            {% for label in model.analysis.agrovoc.concepts | slice(0, 5) %}
                                <li>{{ concept.tag(label, locale) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% if model.link.person.author %}
                <div class="gutters  |  leader  |  trailer">
                    <h2 class="title title--apropos">Contact details</h2>
                    <div class="layout layout--even">
                        {% for auth in model.link.person.author | filterArray('biography', null) %}
                            <div class="layout__cell">
                                <div class="media  |  leader--small">
                                    <div class="media__figure">
                                        {{ image.person(auth, 50) }}
                                    </div>
                                    <p class="media__body  |  body--whisper  |  gutters">
                                        {{ auth.biography }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="layout__cell layout__cell--aside  |  wings">
        {% if model.similar.articles|length > 0 %}
            <div class="grid__cell  |  gutters  |  trailer  |  leader">
                <div class="wings">
                    <h2 class="title title--section  |  gutters">{{ {'en': 'Read more', 'fr': 'En savoir plus'}|t }}</h2>
                    {% for article in model.similar.articles|slice(0,1) %}
                        <div class="layout layout--even  |  leader">
                            <div class="layout__cell  |  gutters">
                                <div class="post__media">
                                    <a class="anchor anchor--shy" href="{{ route({page: article.path_prefix ~ 'article', slug: article.headline|t|slugify, id: article._id}) }}">
                                        {{ image.post(article.link.mediaObject|lead) }}
                                    </a>
                                </div>
                            </div>
                            <div class="layout__cell  |  gutters">
                                {{ date.article(article.datePublished) }}
                                <h3 class="title  |  anchor--reset">
                                    <a class="anchor anchor--shy  |  is-heir" href="{{ route({page: article.path_prefix ~ 'article', slug: article.headline|t|slugify, id: article._id}) }}">
                                        {{ article.headline }}
                                    </a>
                                </h3>
                            </div>
                        </div>
                    {% endfor %}
                    <ul class="reset  |  grid grid--stories">
                        {% for article in event.similar.articles|slice(1,4) %}
                            <li class="grid__cell  |  leader  |  gutters">
                                {% include "partials/article/post.html.twig" with {'show_lead_image': 0, 'show_stand_first': 0, 'show_read_more': 0} %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="grid__cell  |  gutters  |  leader leader-inside  |  trailer  |  divider divider--top">
            <h2 class="title title--section">{{ {'en': 'Featured publication', 'fr': 'Featured publication'}|t(locales) }}</h2>

            <!-- Temporary publication -->
            <article class="media  |  publication--wrapper  |  trailer  |  leader">
                <div class="media__figure">
                    <div class="publication">
                        <img class="publication--image" src="https://publications.cta.int/media/publications/images/l/1889_Cover_scan_yGcSfhg.png" alt="Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa" />
                    </div>
                </div>
                <div class="media__content">
                    <div class="media media--unfold">
                        <div class="media__body  |  gutters">
                            <h2 class="title  |  trailer--small">Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa</h2>
                        </div>
                    </div>
                </div>
            </article>
            <a class="publication-download" href="javascript:void(0);">
                <div class="publication-download__item">
                    Download
                </div>
                <div class="publication-download__item">
                    PDF 120MB
                </div>
            </a>
            <!-- END:: Temporary publication -->
        </div>

        {% if model.link.mediaObject | findType('file') | length > 0 %}
            <div class="grid__cell  |  gutters  |  trailer  |  leader leader-inside  |  divider divider--top">
                <section class="trailer--hero">
                    <h3 class="title title--section  |  trailer--normal">{{ 'Downloads'|t(locales) }}</h3>

                    {% for file in model.link.mediaObject | findType('file') %}
                        {% include 'partials/download.html.twig' with {file: file} %}
                    {% endfor %}
                </section>
            </div>
        {% endif %}

        <div class="grid__cell  |  gutters  |  trailer  |  leader leader-inside  |  divider divider--top">
            <h3 class="title title--section  |  trailer--normal">{{ 'Partners'|t(locales) }}</h3>
            {% if model.sponsor | length > 0 %}
                <h4 class="title  |  meta  |  trailer--normal">{{ 'Funding partners'|t(locales) }}</h4>
                {% for sponsor in model.sponsor %}
                    <div class="trailer--small">
                        <div class="is-center  |  block-link">
                            <a href="{{ sponsor.website }}" target="_blank">{{ sponsor.name|t(locales) }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if model.organizer | length > 0 %}
                <h4 class="title  |  meta  |  trailer--normal">{{ 'Implementing partners'|t(locales) }}</h4>
                {% for organizer in model.organizer %}
                    <div class="trailer--small">
                        <div class="is-center  |  block-link">
                            <a href="{{ organizer.website }}" target="_blank">{{ organizer.name|t(locales) }}</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if model.analysis.geoname.geonames | length > 0 %}
            <div class="grid__cell  |  gutters  |  trailer  |  leader leader-inside  |  divider divider--top">
                <h3 class="title title--section  |  trailer--normal">{{ 'Country focus'|t(locales) }}</h3>
                <ul class="reset  |  tag-list  |  list--inline">
                    {% for country in model.analysis.geoname.geonames %}
                        <li>
                            <a class="label label--s" href="/{{ locales|t }}/search?location={{ country._id }}">{{ country.label|t(locales) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
