{% import "macros/image.html.twig" as image %}
{% import "macros/author.html.twig" as author %}
{% import "macros/template.html.twig" as helper %}
{% set is_crowned = 'is-crowned' in helper.class_string(config, '')|raw %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
{% set class = helper.class(config)|trim %}


<header {{ helper.container_id_attribute(frontender, "frontender")|raw }} class="{{ ['trailer--hero', config.container_class|t(locales)]|join('  |  ') }}">
    <div class="ie9-hero">
        {% if model.link.mediaObject|lead %}
            {{ image.hero(model.link.mediaObject|lead, is_crowned, "article-header__image  |  image image--stretch") }}
        {% endif %}
    </div>
    {% if model.link.mediaObject|lead %}
        <div class="article-headline  |  well well--full  |  layout  |  leader-inside--hero trailer-inside--hero">
    {% else %}
        <div class="article-headline  |  well well--full  |  layout  |  leader-inside--giant trailer-inside--hero">
    {% endif %}
        <div class="layout__cell layout__cell--main  |  wings">
            <h1 class="article-headline__title  |  heading heading--hero  |  trailer  |  gutters" itemprop="headline">
                {{ model.headline }}
            </h1>
            {% if model.alternativeHeadline %}
                <p class="article-headline__byline  |  meta  |  trailer  |  gutters" itemprop="alternativeHeadline"><strong class="reset">{{ model.alternativeHeadline|t(locales) }}</strong></p>
            {% endif %}
            <p class="title title--section  |  gutters  |  is-screen" itemscope itemprop="articleSection"><strong class="reset">{{ model.articleType|i18n }}</strong></p>
        </div>
        <div class="layout__cell layout__cell--aside  |  leader--ie-l  | wings  |  is-screen  {% if not model.link.mediaObject %}is-gt-small-desktop{% endif %}">
            {% if model.link.mediaObject|lead %}
                {% if model.link.mediaObject|lead.about %}
                    <p class="caption  |  gutters  |  trailer">{{ model.link.mediaObject|lead.about|t(locales) }}</p>
                {% endif %}
                {% if model.link.mediaObject|lead.credit %}
                    <p class="credit  |  gutters  |  trailer" itemprop="copyrightHolder">&copy; {{ model.link.mediaObject|lead.credit|t(locales) }}</p>
                {% endif %}
            {% else %}
                <span class="is-silent">&nbsp;</span>
            {% endif %}
        </div>
    </div>
</header>
