{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<section {{ helper.class_attribute(config, class)|raw }} {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
    <div class="about-cta">
        <div class="about-cta--container  |  layout--narrow  |  wings">
            <div class="is-root">
                <div class="is-silent  |  about-cta__section-id  |  meta  |  gutters-outside"><span class="section-id__number">02</span></div>
                <h2 class="title title--sub-section  title--about-cta  |  trailer |  leader-inside--hero  |  gutters">{{ 'What we do'|t(locales) }}</h2>
                <div class="title title--tile  |  leader  |  trailer  |  gutters">
                    {{ 'CTA has a new way of doing business. The organisation is introducing six new flagship projects to increase agricultural productivity, contribute to more-efficient and inclusive agricultural value chains and markets, and promote climate-smart agriculture.'|t(locales) }}
                </div>
                <p class="gutters  |  leader  |  trailer">
                    {{ 'The flagship projects have been developed to complement the Centre’s three strategic priorities: policies, value chains and knowledge management, in addition to youth and women\'s empowerment. They are integral elements in the regional business plans that have been developed in close consultation with CTA\'s partners and beneficiaries, a process involving external reviews, rapid scans and scoping and impact studies.  The projects will improve coordination among programmes, allowing CTA to involve key stakeholders in the development of agricultural value chains, such as those that improve nutritional outcomes. This focus on business development is crucial, giving smallholder farmers the opportunity to escape poverty by becoming the foundation of improved, inclusive markets.'|t }}
                </p>
                <div class="layout  layout--split  |  leader  |  trailer">
                    <div class="layout__cell  |  gutters">
                        <p class="gutter">
                            {{ 'CTA is increasingly focusing its attention on links with the private sector, especially small and medium-sized businesses and their associations that are related to agriculture. This sector is a powerful yet underutilised partner in agricultural and rural development. Climate-smart agriculture continues to be a cornerstone of CTA’s programmes; the Centre has played a significant role in putting agriculture on the climate-change agenda. A continuing focus is on supporting participatory development of policies, strategies and value chains that include a wide range of stakeholders, particularly farmers’ organisations, youth and women’s groups, and research and education institutions.'|t(locales) }}
                        </p>
                    </div>
                    <div class="layout__cell layout__cell--aside  |  gutters">
                        <div class="addendum">
                            <h3 class="addendum__title  |  title title--sub-section  |  trailer--normal">{{ 'Our programmes'|t(locales) }}</h3>
                            <p class="trailer--small">{{ 'CTA has organised its activities under two operational programmes'|t(locales) }}:</p>
                            <ul class="reset">
                                <li class="trailer--small"><a class="anchor" href="javascript:void(0);">{{ 'Policies, Markets, and Information & Communication Technologies (PMI)'|t(locales) }}</a></li>
                                <li class="trailer--small"><a class="anchor" href="javascript:void(0);">{{ 'Knowledge Management and Communication (KMC)'|t(locales) }}</a></li>
                            </ul>
                            <p>{{ 'The PMI and KMC programmes are supported  by a unit devoted to promoting organisational'|t }} <a class="anchor" href="javascript:void(0);">{{ 'earning and effective monitoring, evaluation and impact assessment (LME)'|t }}</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="world-map  |  leader-inside--hero  |  trailer-inside  |  gutters">
                    <img class="world-map__image" style="width:100%" src="/images/content/about-cta/world-map-about-cta.svg" alt="Projects are tailored to the particular needs of six regions">
                </div>
                <div class="layout layout--split layout--align-end  |  trailer-inside--hero">
                    <div class="layout__cell--aside  |  gutters">
                        {% include "partials/legend.html.twig" %}
                    </div>
                    <div class="layout__cell  |  gutters  |  trailer--small">
                        <p>
                            {{ 'Feedback, including results of external reviews and impact studies, has played a central role in guiding CTA as it sets out on its new pathway.  The Centre is confident that adopting this approach will help to ensure  that its work is even more closely aligned to the needs of its beneficiaries and partners.'|t }}
                        </p>
                    </div>
                </div>
                <p class="paragraph paragraph--lead-xl  |  gutters  |  trailer-inside--hero">
                    {{ 'The new projects are tailored to the particular needs of six regions: West Africa, Central Africa, Eastern Africa, Southern Africa, the Caribbean and the Pacific.'|t(locales) }}
                </p>
                <div class="globe-regions  |  grid  |  grid--musketeers">


                    <div class="grid__cell  | gutters  |  trailer--giant">
                        <img class="globe-regions__image" src="/images/content/about-cta/globe-western-africa.svg" alt="Western Africa">
                        <div class="globe-regions__title  |  title title--sub-section  |  trailer--normal  |  leader--small">
                            {{ 'Western Africa'|t(locales) }}
                        </div>
                        <p>
                            {{ 'Enhance intraregional grain value chains, allowing farmers’ organisations as well as private entrepreneurs to actively pursue opportunities in the ECOWAS regional grain trade.'|t(locales) }}
                        </p>
                    </div>
                    <div class="grid__cell  | gutters  |  trailer--giant">
                        <img class="globe-regions__image" src="/images/content/about-cta/globe-central-africa.svg" alt="Central Africa">
                        <div class="globe-regions__title  |  title title--sub-section  |  trailer--normal  |  leader--small">
                            {{ 'Central Africa'|t(locales) }}
                        </div>
                        <p>
                            {{ 'Food and nutrition security will be increased with better information and knowledge management, strengthened market institutions  and more-effective multistakeholder platforms focusing on roots and tubers, particularly cassava.'|t }}
                        </p>
                    </div>
                    <div class="grid__cell  | gutters  |  trailer--giant">
                        <img class="globe-regions__image" src="/images/content/about-cta/globe-eastern-africa.svg" alt="Eastern Africa">
                        <div class="globe-regions__title  |  title title--sub-section  |  trailer--normal  |  leader--small">
                            {{ 'Eastern Africa'|t(locales) }}
                        </div>
                        <p>
                            {{ 'Help livestock keepers, including pastoralists, to become more resilient as they gain the knowledge and skills they need to earn more from their animals.'|t(locales) }}
                        </p>
                    </div>
                </div>
                <div class="globe-regions  |  grid  |  grid--musketeers">
                    <div class="grid__cell  | gutters  |  trailer--giant">
                        <img class="globe-regions__image" src="/images/content/about-cta/globe-southern-africa.svg" alt="Southern Africa">
                        <div class="globe-regions__title  |  title title--sub-section  |  trailer--normal  |  leader--small">
                            {{ 'Southern Africa'|t(locales) }}
                        </div>
                        <p>
                            {{ 'Empower farmers to use climate-smart agri-food solutions for their cereals and livestock, increase their livelihoods and move out of poverty.'|t(locales) }}
                        </p>
                    </div>
                    <div class="grid__cell  | gutters  |  trailer--giant">
                        <img class="globe-regions__image" src="/images/content/about-cta/globe-caribbean.svg" alt="Caribbean">
                        <div class="globe-regions__title  |  title title--sub-section  |  trailer--normal  |  leader--small">
                            {{ 'Caribbean'|t(locales) }}
                        </div>
                        <p>
                            {{ 'Small-scale producers, women and young entrepreneurs will have better access to intra-regional and international markets, key business development services, such as finance, and increased profits.'|t(locales) }}
                        </p>
                    </div>
                    <div class="grid__cell  | gutters  |  trailer--giant">
                        <img class="globe-regions__image" src="/images/content/about-cta/globe-pacific.svg" alt="Pacific">
                        <div class="globe-regions__title  |  title title--sub-section  |  trailer--normal  |  leader--small">
                            {{ 'Pacific'|t(locales) }}
                        </div>
                        <p>
                            {{ 'Improve the long-term financial and physical health of poor rural and urban dwellers, especially women and young children, by developing the local food crops and fisheries markets.'|t(locales) }}
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
