{% import "macros/template.html.twig" as helper %}

{% set has_title = labels.container_title|t(locales)|trim|length > 0%}
{% set has_tools = config.show_tools|trim|length > 0 %}
{% set has_link = labels.link.label|t(locales)|trim|length > 0 %}
{% set class = ['container-header', config.show_margins, (not has_title and (has_tools or has_link)) ? 'container-header--filter']|join(' ')|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{% if labels.container_title|t(locales)|trim|length > 0 or (has_tools or has_link) %}
    <{{ config.container_tag|default('header') }}{{ helper.class_attribute(config, class)|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>

        {% if labels.container_title|t(locales) %}
        <{{config.title_tag|default('h2')}} class="container-header__title  |  title {{ config.show_smaller_title ? 'title--tile' : 'title--container' }} trailer-inside--tiny  |  gutters">
            {{ labels.container_title|t(locales) }}
        </{{config.title_tag|default('h2')}}>
        {% endif %}

        {% if has_tools or has_link %}
            <div class="container-header__filter  |  gutters">
                {% if config.show_tools is same as('events') %}
                    <div class="filter" id="event-sort-by3">
                      <button class="filter__trigger  |  title" data-toggle="#event-sort-by3">{{ 'Sort by'|i18n }}</button>
                      <ul class="filter__options  |  reset  |  fx">
                        <li><a class="filter__item  |  fx" href="?sortProperty=startDateUTC&sortDirection=desc" data-action="ajax" data-target="#somecontainer">{{ 'Date (newer-older)'|i18n }}</a></li>
                        <li><a class="filter__item  filter__item--selected  |  fx" href="?sortProperty=startDateUTC&sortDirection=asc">{{ 'Date (older-newer)'|i18n }}</a></li>
                        <li><a class="filter__item  |  fx" href="?sortProperty=name&sortDirection=desc">{{ 'Alphabetical order (A-Z)'|i18n }}</a></li>
                        <li><a class="filter__item  |  fx" href="?sortProperty=name&sortDirection=asc">{{ 'Alphabetical order (Z-A)'|i18n }}</a></li>
                      </ul>
                    </div>
                    <div class="filter" id="event-filter-by2">
                      <button class="filter__trigger  |  title" data-toggle="#event-filter-by2">{{ 'Filter by'|i18n }}</button>
                      <ul class="filter__options  |  reset  |  fx">
                        <li><a class="filter__item  |  fx filter__item--selected" href="?upcoming=true">{{ 'Upcoming'|i18n }}</a></li>
                        <li><a class="filter__item  |  fx" href="?upcoming=false&sortProperty=startDateUTC&sortDirection=desc">{{ 'Passed'|i18n }}</a></li>
                      </ul>
                    </div>

                {% elseif config.show_tools is same as('articles') %}
                {% endif %}

                {% if has_link %}
                    {% include 'partials/menu-link.html.twig' with {link: labels.link, config: {anchor_class: 'title title--filter  |  anchor  |  is-heir'}} %}
                {% endif %}
            </div>
        {% endif %}

    </{{ config.container_tag|default('header') }}>
{% endif %}

{% if config.show_tools is same as('events') %}

    {% block scripts %}
        <script>
            jQuery(function($) {
                {#$('#event-sort-by').find('li').find('a').click(function(event) {#}
                    {#event.preventDefault();#}

                    {#new Actionable().ajax({#}
                        {#method: 'GET',#}
                        {#url: '/{{ locale }}/partial?layout=containers/events/upcoming/events-list.html.twig&model=Channel\\Events',#}
                        {#states: $(this).attr('href').replace('?', '') + '&id={{ container.model.params.id }}',#}
                        {#target: '#upcoming-events'#}
                    {#});#}
                {#});#}
            });
        </script>
    {% endblock %}

{% elseif config.show_tools is same as('articles') %}
{% endif %}
