{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<form{{ helper.class_attribute(config, 'gutters')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }} method="post" action="https://cta.us5.list-manage.com/subscribe/post" target="_blank">
    <input type="hidden" name="u" value="3dc86afdfe91e13b55050810d">
    <input type="hidden" name="id" value="e00775f956">
    <input type="hidden" name="mc_signupsource" value="hosted">

    <h2 class="title">{{ labels.title|t(locales)|default('Subscribe to the CTA Newsletter')|i18n }}</h2>
    <fieldset class="leader trailer">
        <label class="fld-label title title--meta" for="MERGE1">{{ 'Firstname'|i18n }}</label>
        <input class="fld" type="text" id="MERGE1" name="MERGE1">
        <label class="fld-label title title--meta" for="MERGE2">{{ 'Lastname'|i18n }}</label>
        <input class="fld" type="text" id="MERGE2" name="MERGE2">
        <label class="fld-label title title--meta" for="MERGE0">{{ 'E-mail address'|i18n }}</label>
        <input class="fld" type="text" id="MERGE0" name="MERGE0">
    </fieldset>

    <button class="button button--stretch">{{ labels.button|t(locales)|default('Subscribe'|i18n)|t(locales) }}</button>

    <ul class="share-list reset list--float  leader  leader">
        <li class="share-list__item divider  divider--left">
            <a
                class="label share share--whisper share--facebook share--facebook-branded"
                href="https://www.facebook.com/CTApage"
                target="_blank">
                <span data-icon="facebook" class="icon icon--facebook">
                    <span>
                        <span class="is-narrative">{{ 'follow us'|i18n }}</span>
                    </span>
                </span>
            </a>
        </li>
        <li class="share-list__item divider  divider--left">
            <a
                class="label share share--whisper share--twitter share--twitter-branded"
                href="https://twitter.com/ctaflash"
                target="_blank">
                <span data-icon="twitter" class="icon icon--twitter">
                    <span>
                        <span class="is-narrative">{{ 'follow us'|i18n }}</span>
                    </span>
                </span>
            </a>
        </li>
        <li class="share-list__item divider  divider--left">
            <a
                class="label share share--whisper share--linkedin share--linkedin-branded"
                href="https://www.linkedin.com/company/technical-centre-for-agricultural-and-rural-cooperation-acp-eu-cta-"
                target="_blank">
                <span data-icon="linkedin" class="icon icon--linkedin">
                    <span>
                        <span class="is-narrative">{{ 'follow us'|i18n }}</span>
                    </span>
                </span>
            </a>
        </li>
        <li class="share-list__item divider  divider--left">
            <a
                class="label share share--whisper share--instagram share--instagram-branded"
                href="https://www.instagram.com/ctaflash/"
                target="_blank">
                <span data-icon="instagram" class="icon icon--instagram">
                    <span>
                        <span class="is-narrative">{{ 'follow us'|i18n }}</span>
                    </span>
                </span>
            </a>
        </li>
        <li class="share-list__item divider  divider--left">
            <a
                class="label share share--whisper share--youtube share--youtube-branded"
                href="https://www.youtube.com/user/ctaspace/videos"
                target="_blank">
                <span data-icon="youtube" class="icon icon--youtube">
                    <span>
                        <span class="is-narrative">{{ 'follow us'|i18n }}</span>
                    </span>
                </span>
            </a>
        </li>
    </ul>

</form>
