{% import "macros/template.html.twig" as helper %}
{% import "macros/author.html.twig" as author %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
{% set total = model.similar.articles| length %}

{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default('section') }}{{ helper.class_attribute(config, 'layout')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <header class="layout__cell layout__cell--aside wing--left">
        {% if labels.container_title|length > 0 %}
            <div class="trailer-inside container-header container-header--slim-fit trailer wing--right">
                <h1 class="container-header__title  |  title title--container trailer-inside--tiny  |  gutters">
                    {{ labels.container_title|t(locales) }}
                </h1>
            </div>
        {% endif %}
        <a href="{{ route({
            'page': model.similar.articles|first.path,
            'slug': model.similar.articles|first.headline|t(locales)|slugify,
            'id': model.similar.articles|first._id}) }}">
            <h2 class="paragraph paragraph--theorem  |  trailer trailer-inside--tiny gutter--left gutter">{{ model.headline|t(locales) }}</h2>
        </a>

        <div class="gutters trailer is-gt-small-desktop">
            {% include 'containers/spore/opinion/opinion__share.html.twig' with { 'labels': labels, 'arrow_direction': 'up' } %}
        </div>
        
    </header>
    <div class="layout__cell  |  wing--right">
        <div class="spreader spreader--{{ total }}  |  wing--right">
            {% for article in model.similar.articles %}
                {% set route = route({'page': article.path, 'slug': article.headline|t(locales)|slugify, id: article._id}) %}
                <div class="spreader__item gutters trailer">
                    <a class="anchor anchor--shy is-heir" href="{{ route }}">
                        <blockquote class="bubble bubble--down bubble--padded bubble--clear" cite="{{ route }}">
                            <h2 class="heading heading--tile  |  trailer--small">
                                {{ article.headline|t(locales) }}
                            </h2>
                            <span class="read-more">{{ labels.read_more|t(locales) }}</span>
                        </blockquote>
                        {% if article.link.person.author %}
                            <cite class="bubble-cite title">
                                {{ author.job(article.link.person.author) }}
                            </cite>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}

            <div class="spreader__item gutters trailer is-lt-small-desktop">
                {% include 'containers/spore/opinion/opinion__share.html.twig' with { 'labels': labels, 'arrow_direction': 'down' } %}
            </div>

        </div>
    </div>
</{{ config.container_tag|default('section') }}>
