{{ hashedPath('/assets/css/exposition.css')|addStyle('styles') }}
{{ 'containers/channels/exposition/exposition.js.twig'|addScript('beforeBodyEnd') }}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="toggle  |  fx is-inactive" {% if query.fromFrontender %} style="position: absolute;"{% endif %}>
    <div class="toggle-switch">
        <div class="toggle--menu" data-toggle=".toggle"></div>
        <ul class="toggle--language  |  shade  |  reset">
            <li class="fx"><a class="anchor{{ locale is same as('en-GB') ? '  |  is-active' }}" href="{{ translate_url('en') }}">{{ 'EN'|t(locales) }}</a></li>
            <li class="fx"><a class="anchor{{ locale is same as('fr-FR') ? '  |  is-active' }}" href="{{ translate_url('fr') }}">{{ 'FR'|t(locales) }}</a></li>
        </ul>
    </div>

    <div class="menu  |  leader-inside--small  |  gutters">
        <div class="menu-list">
            {% for container in _context.containers %}
                {% if container.name|t(locales) == 'Exposition well' %}
                    {% if container.model._id %}
                        <div class="menu__item-ec">
                            <label class="menu__label">1</label>
                            <a class="anchor--reset" href="#section-{{ container.model._id }}">{{ container.model.name|t(locales) }}</a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% if config.controls.show_social.value == '1' %}
            <div class="social  |  bleed">
                <ul class="reset  |  social-icons">
                    {% if social.controls.facebook.value %}
                        <li><a href="https://www.facebook.com/{{ social.controls.facebook.value }}" class="fx  |  social-icon  |  icon icon-facebook-with-circle" target="_blank"></a></li>
                    {% endif %}
                    {% if social.controls.twitter.value %}
                        <li><a href="https://twitter.com/{{ social.controls.twitter.value }}" class="fx  |  social-icon  |  icon icon-twitter-with-circle" target="_blank"></a></li>
                    {% endif %}
                    {% if social.controls.linkedin.value %}
                        <li><a href="https://www.linkedin.com/{{ social.controls.linkedin.value }}" class="fx  |  social-icon  |  icon icon-linkedin-with-circle" target="_blank"></a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
