{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<div {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
    {% if labels.layout == 1 %}
        <div class="credit trailer--hero">
            <div class="credit__cell  |  gutters">
                <p class="credits-department  |  trailer">{{ labels.title|t }}</p>
                <ul class="reset">
                    {% for person in staff.information %}
                        <li class="trailer--small">
                            <p>{{ person.name.value|t }}</p>
                            <p class="job-title">{{ person.job_title.value|t }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <div class="trailer--hero">
            <p class="credits-department  |  trailer  |  gutters">{{ labels.title|t }}</p>
            <div class="credit">
                {% for person in staff.information %}
                    <div class="credit__cell  |  gutters">
                        <ul class="reset">
                            <li class="trailer--small">
                                <p>{{ person.name.value|t }}</p>
                                <p class="job-title">{{ person.job_title.value|t }}</p>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
