{% import "macros/image.html.twig" as image %}
{% import "macros/author.html.twig" as author %}
{% import "macros/date.html.twig" as date %}
{% import "macros/template.html.twig" as helper %}
{% set is_crowned = 'is-crowned' in helper.class_string(config, '')|raw %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="article-headline well well--full  | layout layout--break-early-even">
    <div class="layout__cell layout__cell--aside layout__cell--divider  |  wing--left">

        {# Publication cover #}
        <article class="publication-tile publication-tile--hero media trailer-inside">
            <div class="publication-tile__cover media__figure gutter--right">
                <figure class="publication-cover publication-cover--pull-top">
                    <a href="{{ route({'page': model|first.path, 'slug': model|first.headline|t(locales)|slugify, 'id': model|first._id}) }}">
                        {{ image.contentBlock_cover(model|first.contentBlocks|filterArray('subtype', 'image'), "publication-cover__image") }}
                    </a>
                </figure>
            </div>
            <div class="publication-tile__body media__body leader-inside gutters">
                <dl class="dlist{{ model.link.person.author|length > 2 ? ' dlist--grid'}} meta meta--s meta--dark">
                    {% if model.strategyLabel %}
                        <dt class="dlist__label">{{ 'area' | i18n }}: </dt>
                        <dd class="dlist__value"><strong>{{ model.strategyLabel.name|t(locales)|replace({'Strategy/':''}) }}</strong></dd>
                        {% endif %}
                    {% if model.link.person.author|length > 0 %}
                        <dt class="dlist__label">{{ model.link.person.author|length > 1 ? 'authors' | i18n : 'author' | i18n }}: </dt>
                        <dd class="dlist__value">{{ author.long(model.link.person.author, false) }}</dd>
                    {% endif %}
                    {% if model.datePublished %}
                        <dt class="dlist__label">{{ 'published' | i18n }}: </dt>
                        <dd class="dlist__value">{{ date.issue_year(model.datePublished, null, ' ') }}</dd>
                    {% endif %}
                </dl>
                {% if model.externalLink|length > 0 %}
                    <div class="leader">
                        {% for link in model.externalLink %}
                            <a class="publication-download publication-download--s trailer--tiny" href="{{ link.url }}">
                                <span class="publication-download__item">{{ link.name }}</span>
                                {% if link.url|getFileSize %}
                                    <span class="publication-download__item">{{ link.url|getFileSize }}</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </article>

    </div>
    <div class="layout__cell layout__cell--main  |  leader-inside trailer-inside  |  wing--left">
        {% if model.publicationLabel %}
            <p class="title  |  trailer--normal  |  gutters"><strong class="reset">{{ label.publication_to_string(model.link.label|filterArray('type', 'publication'), false)|replace({'Spore/': ''}) }}</strong></p>
        {% endif %}
        <h1 class="article-headline__title  |  heading heading--moderate  |  gutters">
            {{ model.headline }}
        </h1>
        {% if model.alternativeHeadline %}
            <p class="article-headline__byline  |  leader  |  gutters"><strong class="reset">{{ model.alternativeHeadline|t(locales) }}</strong></p>
        {% endif %}
    </div>
    <div class="layout__cell layout__cell--aside  |  leader-inside trailer-inside  |  wings">
        {% if heroimage.about|t(locales)|length > 0 %}
            <p class="caption  |  gutters" data-prefix="{{ 'Image'|i18n }}: ">{{ heroimage.about|t(locales) }}</p>
        {% endif %}
        {% if heroimage.credit|t(locales)|length > 0 %}
            <p class="credit  |  gutters">&copy; {{ heroimage.credit|t(locales) }}</p>
        {% endif %}
    </div>
</div>
