{% import "macros/image.html.twig" as image %}
{% import "macros/author.html.twig" as author %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<div class="post">
    {% if show_lead_image|default(1) %}
    	<div class="post__media">
    		<a class="anchor anchor--shy" href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}">
    			{{ image.post(model.link.mediaObject|lead) }}
    		</a>
    	</div>
    {% endif %}
  	<div class="post__content  |  leader-inside">

	    <h3 class="heading  |  anchor--reset">
		    <a class="anchor anchor--shy  |  is-heir" href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}">
		       	{{ model.headline }}
		    </a>
	    </h3>

        {% if model.link.person.author|length > 0 %}
    	    <p class="post__author  |  author">
                {{ author.long(model.link.person.author) }}
    	    </p>
        {% endif %}

        {% if show_stand_first|default(1) %}
	       <p class="is-gt-small-desktop  |  post__intro">{{ model.about|raw }}</p>
        {% endif %}

        {% if show_read_more|default(1) %}
	       <a class="read-more" href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}">{{ 'Read more'|t(locales) }}</a>
        {% endif %}
    </div>
</div>
