{% import "macros/image.html.twig" as image %}
{% import "macros/date.html.twig" as date %}
{% import "macros/concept.html.twig" as concept %}
{% import "macros/author.html.twig" as author %}

<div class="post post--hero  |  layout">
    {% if show_lead_image|default(1) %}
        <div class="post__media  |  layout__cell  |  gutters">
            <a class="anchor anchor--shy" href="{{ route({'page': model.path, 'id': model._id}) }}">
                {{ image.post_hero(model.link.mediaObject|lead) }}
            </a>
        </div>
    {% endif %}
    <div class="post__content  |  layout__cell layout__cell--aside  |  stack stack--stacked  |  wing--right">
        <div class="stack__unit  |  gutters">

	        	{% for label in model.analysis.agrovoc.concepts|slice(0, 4) %}
	              {{ concept.label_large(label, locale) }}
	          {% endfor %}

            {% if show_channel|default(0) %}
                <span class="meta">in <a href="javascript:void(0);">CTA</a></span>
            {% endif %}

            <h3 class="heading heading--focus anchor--reset">
                <a class="anchor anchor--shy  |  is-heir" href="{{ route({'page': model.path, 'id': model._id}) }}">
                    {{ model.headline }}
                </a>
            </h3>

            {% if show_author_name|default(1) and model.link.person.author|first.name  %}
                <div class="media media--middle  |  bleed">
                    <div class="media__figure  |  gutters">
                        <img class="image image--stretch" width="30" height="30" alt="Sri Lanka's drone pioneers" src="https://images.unsplash.com/photo-1444146644393-241099c1593d?&amp;fit=crop&amp;w=30&amp;h=30">
                    </div>
                    <div class="media__content  |  body--whisper">
                        {{ author.single(model.link.paerson.author) }}
                    </div>
                </div>
            {% endif %}

            {% if show_stand_first|default(1) %}
    	       <p class="post__intro">{{ model.about|raw }}</p>
            {% endif %}

        </div>
    </div>
</div>
