{% import "macros/date.html.twig" as date %}
{% import "macros/image.html.twig" as image %}
{% import "macros/concept.html.twig" as concept %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<article class="{{['layout',class]|join('  |  ')}}">
    {% if show_lead_image|default(1) %}
        <div class="layout__cell layout__cell--aside  |  gutters  |  trailer">
            <a class="anchor anchor--shy" href="{{ route({'page': model.path_prefix ~ 'article', slug: model.headline|t(locales)|slugify, 'id': model._id}) }}">
    			{{ image.post(model.link.mediaObject|lead) }}
    		</a>
        </div>
    {% endif %}
    <div class="layout__cell">
        <div class="layout">
            <div class="layout__cell  |  gutters  |  trailer">
                {% if show_publication_date|default(1) %}
            	    {{ date.article(model.datePublished) }}
                {% endif %}
                {% if show_publication_label|default(0) %}
            	    [show_publication_label]
                {% endif %}
                <h2 class="heading">
                    <a class="anchor" href="{{ route({'page': 'article', slug: model.headline|t(locales)|slugify, 'id': model._id}) }}">
                        {{ model.headline }}
                    </a>
                </h2>
                {{ model.about }}
                <div class="leader--small  |  block-link">
                    <a class="anchor" href="{{ route({'page': 'article', slug: model.headline|t(locales)|slugify, 'id': model._id}) }}">Read more</a>
                </div>
            </div>
            <div class="layout__cell layout__cell--aside  |  gutters  |  trailer">
                {% if model.analysis.agrovoc.concepts %}
                    <div class="trailer  |  leader">
                        <ul class="reset  |  tag-list  |  list--inline">
                            {% for label in model.analysis.agrovoc.concepts|slice(0, 20) %}
                                <li>{{ concept.tag(label, locale) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if model.analysis.geoname.geonames|locationSpecific %}
                    <div class="media  |  location">
                        <span class="icon icon--theme icon--map-marker"></span>
                        <div class="location__body  |  media__content">
                            <span class="is-narrative">region:</span>
                            {{ model.analysis.geoname.geonames|locationSpecific.label|t(locales) }}
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</article>
