{% import "macros/date.html.twig" as date %}
{% import "macros/image.html.twig" as image %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<article class="media">
	{% if model.image %}
		<div class="media__body  |  gutters  |  trailer  |  wing--right">
	{% else %}
		<div class="media__body media__body--single  |  gutters  |  trailer">
	{% endif %}
    {% if show_publication_date|default(1) %}
	    {{ date.article(model.datePublished) }}
    {% endif %}
    <h2 class="heading">
      <a class="anchor" href="{{ route({'page': model.path_prefix ~ 'article', slug: model.headline|t(locales)|slugify, 'id': model._id}) }}">
        {{ model.headline }}
      </a>
    </h2>
    {{ model.about }}
  </div>
  {% if model.image %}
		<div class="media__figure  |  gutters gutters-hero">
	      <a class="anchor anchor--shy" href="{{ route({'page': model.path_prefix ~ 'article', slug: model.headline|t(locales)|slugify, 'id': model._id}) }}">
	  			{{ image.post(model.link.mediaObject|lead) }}
	  		</a>
		</div>
	{% endif %}
</article>
