{% import "macros/image.html.twig" as image %}
{% import "macros/date.html.twig" as date %}
{% import "macros/author.html.twig" as author %}
{% import "macros/label.html.twig" as label %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="post post--hero  |  layout">
    {% if show_lead_image|default(1) %}
        <div class="post__media  |  layout__cell  |  gutters">
            <a class="anchor anchor--shy" href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}">
                {{ image.post_hero(model.link.mediaObject|lead) }}
            </a>
        </div>
    {% endif %}
    <div class="post__content  |  layout__cell layout__cell--aside layout__cell--aside--l  |  stack stack--stacked  |  wing--right">
        <div class="stack__unit  |  gutters">

            {% if show_publication_date|default(1) %}
                {{ date.article(model.datePublished) }}
            {% endif %}

            {% if config.show_publication|default(1) and model.link.label|filterArray('type', 'publication')|length %}
                <span class="meta">{{ 'in'|i18n }} {{ label.publications(model.link.label|filterArray('type', 'publication'), ' '~'and'|i18n~' ')}}</span>
            {% endif %}

            {% if config.show_type|default(1) %}
                <a class="meta" href="/search?q=&location=&time=&type=article.{{ model.articleType }}">{{ ('content_type_category_' ~ model.articleType)|i18n }}</a>
            {% endif %}

            <h3 class="heading heading--focus anchor--reset">
                <a class="anchor anchor--shy  |  is-heir" href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}">
                    {{ model.headline }}
                </a>
            </h3>

            {% if show_author_name|default(1) and model.link.person.author|first.name  %}
                <div class="body--whisper  |  leader--tiny">
                    {{ author.long(model.link.person.author) }}
                </div>
            {% endif %}

            {% if show_stand_first|default(1) %}
    	       <p class="post__intro">{{ model.about|raw }}</p>
            {% endif %}

            {% if show_read_more|default(1) %}
    	       <a class="read-more" href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}">{{ 'Read more'|i18n }}</a>
            {% endif %}

        </div>
    </div>
</div>
