{% import "macros/date.html.twig" as date %}
{% import "macros/concept.html.twig" as concept %}
{% import "macros/image.html.twig" as image %}
{% import "macros/author.html.twig" as author %}
{% import "macros/label.html.twig" as label %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

{% set article_link = route({page: model.path_prefix ~ 'article', slug: model.headline|t(locales)|slugify, id: model._id}) %}

<div class="post">
    {% if config.show_lead_image %}
        <div class="post__media">
            <a class="anchor anchor--shy" href="{{ article_link }}">
                {{ image.post(model.link.mediaObject|lead) }}
            </a>
        </div>
    {% endif %}
    <div class="post__content  |  leader-inside">
        {% if config.show_publication_date|default(1) %}
            {{ date.article(model.datePublished) }}
        {% endif %}

        {% if config.show_publication|default(1) and model.link.label|filterArray('type', 'publication')|length > 0 %}
            <span class="meta">
                {{ 'in'|t(locales) }} {{ label.publications(model.link.label|filterArray('type', 'publication'), ' '~'and'|t(locales)~' ')}}
            </span>
        {% endif %}

        <h3 class="heading  |  anchor--reset">
            <a class="anchor anchor--shy  |  is-heir" href="{{ article_link }}">
                {{ model.headline }}
            </a>
        </h3>

        {% if config.show_author_name and model.link.person.author | length > 0 %}
            <p class="post__author  |  author">
                {{ author.long(model.link.person.author) }}
            </p>
        {% endif %}

        {% if config.show_article_type|default(0) %}
            <p class="meta  |  leader--tiny">
            {{ '<a href="/search?q=&location=&time=&type=%s">%s</a>'|format(model.articleType,model.articleType|t(locales))|raw }}</p>
        {% endif %}

        {% if config.show_stand_first %}
            <p class="is-gt-small-desktop  |  post__intro">{{ model.about|raw }}</p>
        {% endif %}

        {% if config.show_topic|default(0) and model.analysis.agrovoc.concepts|length > 0 %}
          <ul class="reset  |  tag-list  |  list--inline trailer--small">
              {% for label in model.analysis.agrovoc.concepts|slice(0, 2) %}
                  <li>{{ concept.tag(label, locale) }}</li>
              {% endfor %}
          </ul>
        {% endif %}

        {% if config.show_read_more %}
            <a class="read-more  |  is-gt-small-desktop" href="{{ article_link }}">{{ 'Read more'|t(locales) }}</a>
        {% endif %}
    </div>
</div>
