{% import "macros/date.html.twig" as date %}
{% import "macros/concept.html.twig" as concept %}
{% import "macros/image.html.twig" as image %}
{% import "macros/author.html.twig" as author %}
{% import "macros/label.html.twig" as label %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="{{ ['media  |  post post--row', config.container_class|t(locales)]|join('  |  ') }}">
    <div class="post__content media__body  |  gutter">
        {% if config.show_publication_date|default(1) %}
            {{ date.article(article.datePublished) }}
        {% endif %}

        {% if config.show_publication|default(1) and article.link.label|filterArray('type', 'publication')|length %}
            <span class="meta">{{ 'in'|i18n }} {{ label.publication(article.link.label|filterArray('type', 'publication'))}}</span>
        {% endif %}

        {% if config.show_type|default(1) %}
            <a class="meta" href="/search?q=&location=&time=&type=article.{{ article.articleType }}">{{ ('content_type_category_' ~ article.articleType)|i18n }}</a>
        {% endif %}

        <h3 class="heading  |  anchor--reset">
            <a class="anchor anchor--shy  |  is-heir" href="{{ route({'page': article.path, 'slug': article.headline|t(locales)|slugify, id: article._id}) }}">
                {{ article.headline }}
            </a>
  	    </h3>

        {% if config.show_author_name and article.link.person.author|length %}
            <p class="post__author  |  author">
                {{ author.long(article.link.person.author) }}
            </p>
        {% endif %}

        {% if config.show_stand_first|default(1) %}
           <p class="post__intro">{{ article.about|raw }}</p>
        {% endif %}

        {% if config.show_topic|default(0) and article.analysis.agrovoc.concepts|length > 0 %}
          <ul class="reset  |  tag-list  |  list--inline trailer--small">
              {% for label in article.analysis.agrovoc.concepts|slice(0, 2) %}
                  <li>{{ concept.tag(label, locale) }}</li>
              {% endfor %}
          </ul>
        {% endif %}

        {% if config.show_read_more|default(1) %}
           <a class="read-more" href="{{ route({'page': article.path, 'slug': article.headline|t(locales)|slugify, id: article._id}) }}">{{ 'Read more'|i18n }}</a>
        {% endif %}
    </div>
    {% if config.show_lead_image|default(1) and article.link.mediaObject|lead %}
        <div class="post__image media__figure  |  trailer--tiny">
            <a class="anchor anchor--shy" href="{{ route({'page': article.path, 'slug': article.headline|t(locales)|slugify, id: article._id}) }}">
                {{ image.post(article.link.mediaObject|lead) }}
            </a>
        </div>
    {% endif %}
</div>
