{% import "macros/date.html.twig" as date %}
{% import "macros/concept.html.twig" as concept %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="event-teaser  |  teaser  |  stack">
    <div class="event-teaser__date  |  stack__unit stack__pin">
        {{ date.tile(model.startDate) }}
    </div>
    <div class="stack__unit  |  stack stack--stacked">
        <div class="stack__unit">
                <h2 class="anchor  |  heading heading--focus  |  gutters gutter-hero--left  |  leader">
                    <a href="{{ route({'page': model.path, 'id': model._id, 'slug': model.name|t(locales)|slugify}) }}">
                        {{ model.name }}
                    </a>
                </h2>
            <p class="gutters gutter-hero--left">
                {{ date.event_long(model.startDate, model.endDate) }}
            </p>
        </div>
        <div class="pin-box  |  stack__unit  |  stack  |  leader">
            <div class="pin-box__cell  |  stack__unit  |  leader-inside  |  trailer-inside  |  gutters gutter-hero--left">
                {% include "partials/location.html.twig" with {"location": model.location} %}
            </div>
            <div class="pin-box__cell  |  stack__unit  |  leader-inside  |  trailer-inside  |  gutters gutter-hero--left">
                <ul class="reset  |  label-list  |  list--inline">
                    {% if model.analysis.agrovoc.concepts | length > 1 %}
                        {% for label in model.analysis.agrovoc.concepts | slice(0, 3) %}
                            <li>{{ concept.label(label, locale) }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
