{% import "macros/template.html.twig" as helper %}
{% import "macros/date.html.twig" as date %}
{% import "macros/image.html.twig" as image %}
{% import "macros/label.html.twig" as label %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<{{ config.container_tag|default('div') }} {{ helper.class_attribute(config, 'interview  |  layout layout--split  |  well  |  is-root')|raw }} {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="layout__cell layout__cell--aside  |  interview__image">
        {% if model.link.mediaObject|length > 0 %}
            <a href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}">
                {{ image.post_hero(model.link.mediaObject|lead, 'is-lt-small-desktop') }}
            </a>
        {% endif %}
    </div>
    <div class="layout__cell layout__cell--main">
        <div class="interview__interview  |  well well--full">
            <div class="interview__body">
                {% if content.label|t(locales)|length > 0 %}
                    <p class="title  |  leader--small">{{ content.label|t(locales) }}</p>
                {% endif %}
                {% if content.quote|t(locales)|length > 0 %}
                    <blockquote class="quote">{{ content.quote|t(locales) }}</blockquote>
                {% endif %}
                {% if content.quote_source|t(locales)|length > 0 %}
                    <p class="title title--sub-section leader leader-inside">{{ content.quote_source|t(locales) }}</p>
                {% endif %}
            </div>
        </div>
        <div class="interview__footer leader-inside trailer-inside--hero  |  wing--right  |  gutters">
            <p class="meta  |  gutters">
                {% if model.datePublished|length > 0 %}
                    <time datetime="{{ model.datePublished }}">{{ model.datePublished|tdate('%e %B %Y', null) }}</time>
                {% endif %}
            </p>
            <div class="block-link">
                <a class="interview__link  |  gutters  |  wing--right  |  meta--lowercase  |  is-heir" href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}">{{ model.headline|t(locales) }}</a>
            </div>
        </div>
    </div>
    <script>
        function screenSize() {
            if ($(window).innerWidth() >= 1280) {
                $(".interview__image").css("background-image", "url('https://res.cloudinary.com/cta/image/upload/w_800,ar_3:2,f_auto,c_fill/{{model.link.mediaObject|lead.metadata.id}}')");
            }
            else if ($(window).innerWidth() >= 1024 && $(window).innerWidth() <= 1279) {
                $(".interview__image").css("background-image", "url('https://res.cloudinary.com/cta/image/upload/w_650,ar_3:2,f_auto,c_fill/{{model.link.mediaObject|lead.metadata.id}}')");
            }
        }
        $(window).on('ready', screenSize()).on('resize', function(){
            setTimeout(500, screenSize());
        })
    </script>
</{{ config.container_tag|default('div') }}>
