{% import "macros/template.html.twig" as helper %}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'network-navigation  |  media media--middle  |  closure  |  wings')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }} {{ config.schema|default(false) ? schema._(model) }} style="background-color: {{ config.background_color|default("#5d5d5d") }};">
<a href="{{ route({'page': model.path, 'slug': model.issue.headline|t(locales)|slugify, 'id': model.issue._id}) }}" class="anchor anchor--shy meta gutters" style="opacity: 1;"><strong>{{ content.body|t }}</strong> <span class="icon icon--download"></span></a>
</{{ config.container_tag|default('div') }}>


