{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

{% if 'article' in query.type or not query.type %}
    <section class="trailer--giant">
        <h2 class="title title--section  |  fld--label  |  leader  |  trailer  |  gutters">
            {% if article_total == 1 %}
                {{ article_total }} {{ 'Result in articles'|t(locales) }}
            {% else %}
                {{ article_total }} {{ 'Results in articles'|t(locales) }}
            {% endif %}
        </h2>
        {% if article_total > 0 %}
            <div data-serp-articles>
                {% include 'modules/serp/serp-articles/serp-articles-list-with-load-more.html.twig' %}
            </div>
        {% else %}
            {% if query.q %}
                <p class="leader trailer gutters">{{ 'No articles found for'|t(locales) }} &ldquo;{{ query.q }}&rdquo;</p>
            {% else %}
                <p class="leader trailer gutters">{{ 'No articles found'|t(locales) }}</p>
            {% endif %}
        {% endif %}
    </section>
{% endif %}
