{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{% if 'article' in query.type or not query.type %}
    <section class="trailer--giant">
        <h2 class="title title--section  |  fld--label  |  leader  |  trailer  |  gutters">
            {% if model.articleTotal == 1 %}
                {{ model.articleTotal }} {{ 'Result in articles'|i18n }}
            {% else %}
                {{ model.articleTotal }} {{ 'Results in articles'|i18n }}
            {% endif %}
        </h2>
        {% if model.articleTotal > 0 %}
            <div data-serp-articles>
                {% include 'modules/serp/serp-articles/serp-articles-list-with-load-more.html.twig' %}
            </div>
        {% else %}
            {% if query.q %}
                <p class="leader trailer gutters">{{ 'No articles found for'|i18n }} &ldquo;{{ query.q }}&rdquo;</p>
            {% else %}
                <p class="leader trailer gutters">{{ 'No articles found'|i18n }}</p>
            {% endif %}
        {% endif %}
    </section>
{% endif %}
