{% import "macros/date.html.twig" as date %}
{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

{% block script %}
    <script type="text/javascript">
        jQuery(function($) {
            $('.alphabet').find('.alphabet__item').find('a').on('click', function(model) {
                model.preventDefault();

                Actionable.prototype.ajax({
                    method: 'ajax',
                    url: '/{{ locale }}/partial?layout=modules/index/topics-countries.html.twig&model=Geoname\\Country&' + $(this).attr('href').replace('?', ''),
                    states: {},
                    target: '#topics'
                });
            });
        });
    </script>
{% endblock %}

<{{ config.container_tag|default('div') }} {{ helper.class_attribute(config, class)|raw }} {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="layout">
        <div class="layout__cell layout__cell--aside layout__cell--divider  |  wings  |  trailer trailer-inside">
            <div class="gutters">
                <div class="meta  |  trailer--small">{{ 'filter_by_region'|t(locales) }}</div>
                <div class="trailer--small">
                    <a class="block-link  |  is-active" href="{{ route({'page': 'search'}) }}">{{ 'all regions'|t(locales) }}</a>
                </div>
                <div class="trailer--small">
                    <a class="block-link" href="{{ route({'page': 'channel', 'slug': 'Caribbean'|t(locales)|slugify, id: '216a5964-0897-4eeb-ac95-cf7f199f0602'}) }}">{{ 'Caribbean'|t(locales) }}</a>
                </div>
                <div class="trailer--small">
                    <a class="block-link" href="{{ route({'page': 'channel', 'slug': 'Central Africa'|t(locales)|slugify, id: '857c927c-2d73-4bc6-8039-3fab70489dd9'}) }}">{{ 'Central Africa'|t(locales) }}</a>
                </div>
                <div class="trailer--small">
                    <a class="block-link" href="{{ route({'page': 'channel', 'slug': 'Eastern Africa'|t(locales)|slugify, id: '52e3acc1-1b9e-41e9-8bf6-bfe487642562'}) }}">{{ 'Eastern Africa'|t(locales) }}</a>
                </div>
                <div class="trailer--small">
                    <a class="block-link" href="{{ route({'page': 'channel', 'slug': 'Southern Africa'|t(locales)|slugify, id: '30597942-bb27-47d2-99d8-96dc76e0fcad'}) }}">{{ 'Southern Africa'|t(locales) }}</a>
                </div>
                <div class="trailer--small">
                    <a class="block-link" href="{{ route({'page': 'channel', 'slug': 'Western Africa'|t(locales)|slugify, id: 'a38ed776-ef17-4a56-abb3-f9320679a103'}) }}">{{ 'Western Africa'|t(locales) }}</a>
                </div>
                <div class="trailer--small">
                    <a class="block-link" href="{{ route({'page': 'channel', 'slug': 'Pacific'|t(locales)|slugify, id: '259ac34a-a476-43cb-a7db-849b061615a4'}) }}">{{ 'Pacific'|t(locales) }}</a>
                </div>
            </div>
        </div>
        <div class="layout__cell">
            <div id="topics">
                {% include "modules/index/topics-countries.html.twig" with {countries: countries} %}
            </div>
        </div>
    </div>
</{{ config.container_tag|default('div') }}>
