{% import "macros/image.html.twig" as image %}
{% import "macros/template.html.twig" as helper %}
{% set is_crowned = 'is-crowned' in helper.class_string(config, '')|raw %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{% import "macros/template.html.twig" as helper %}
<{{ config.container_tag|default('header') }}{{ helper.class_attribute(config, 'trailer--hero')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    {% if model.mediaObject|lead %}
        <div class="ie9-hero">
            {{ image.hero(model.mediaObject|lead, is_crowned, "article-header__image  |  image image--stretch") }}
        </div>
    {% endif %}
    <div class="article-headline  |  well well--full  |  layout  |  leader-inside--hero trailer-inside--hero">
        <div class="layout__cell layout__cell--main  |  wings">
            <h1 class="heading heading--hero  |  trailer  |  gutters" itemprop="name">
                {{ model.name }}
            </h1>
            <p class="title title--section  |  gutters"><strong class="reset">{{ model.type }}</strong></p>
        </div>
        <div class="layout__cell layout__cell--aside  |  wings">
            {% if model.mediaObject|lead %}
                {% if model.mediaObject|lead.about %}
                    <p class="caption  |  gutters" itemprop="about">{{ model.mediaObject|lead.about }}</p>
                {% endif %}
                {% if model.mediaObject|lead.credit %}
                    <p class="credit  |  gutters" itemprop="copyrightHolder">{{ model.mediaObject|lead.credit }}</p>
                {% endif %}
            {% else %}
                <span class="is-silent">&nbsp;</span>
            {% endif %}
        </div>
    </div>
</{{ config.container_tag|default('header') }}>
