{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{% import "macros/image.html.twig" as image %}
{% import "macros/template.html.twig" as helper %}

{{ '/assets/javascript/gallery.js'|addScript('beforeBodyEnd') }}
{{ 'containers/media/gallery/gallery.js.twig'|addAsset('beforeBodyEnd') }}
{{ 'containers/media/gallery/gallery.css.twig'|addAsset('styles') }}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, '')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="grid grid--teletubbies">
        {# {% for related in model.mediaObject %}
            <div class="grid__cell  |  trailer  |  gutters">
                {% if related.metadata.previewUrl %}
                    <a class="is-root" href="{{ related.metadata.url }}" target="_blank" rel="nofollow">
                        {{ image.post(related) }}

                        {% if related.type|t(locales) == 'file' %}
                            <span class="av">
                                <span class="icon icon--archive"><span class="is-narrative">{{ 'Play'|t(locales) }}</span></span>
                            </span>
                        {% elseif related.type|t(locales) == 'image' %}
                            <span class="av">
                                <span class="icon icon--image"><span class="is-narrative">{{ 'Play'|t(locales) }}</span></span>
                            </span>
                        {% elseif related.type|t(locales) == 'video' %}
                            <span class="av">
                                <span class="icon icon--controller-play"><span class="is-narrative">{{ 'Play'|t(locales) }}</span></span>
                            </span>
                        {% endif %}
                    </a>
                {% endif %}

                {% if related.type|t(locales) %}
                    <p class="meta meta--theme  |  leader--small">{{ related.type|t(locales) }}</p>
                {% endif %}

                {% if related.title|t(locales) %}
                    <h2 class="heading">
                        <a class="is-heir" href="{{ related.metadata.url }}" target="_blank" rel="nofollow">
                            {{ related.title|t(locales) }}
                        </a>
                    </h2>
                {% endif %}
            </div>
        {% endfor %} #}

        {% for related in model.link.mediaObject %}
            <div class="grid__cell  |  trailer  |  gutters" data-modal="{{ related|json_encode() }}">
                {% if related.metadata.previewUrl %}
                        {{ image.post(related) }}

                        {% if related.type|t(locales) == 'file' %}
                            <span class="av" id="this-content">
                                <span class="icon icon--archive"><span class="is-narrative">{{ 'Play'|t(locales) }}</span></span>
                            </span>
                        {% elseif related.type|t(locales) == 'image' %}
                            <span class="av">
                                <span class="icon icon--image"><span class="is-narrative">{{ 'Play'|t(locales) }}</span></span>
                            </span>
                        {% elseif related.type|t(locales) == 'video' %}
                            <span class="av">
                                <span class="icon icon--controller-play"><span class="is-narrative">{{ 'Play'|t(locales) }}</span></span>
                            </span>
                        {% endif %}
                        <a class="is-root" href="{{ related.metadata.url }}" target="_blank" rel="nofollow">
                            </a>
                {% endif %}

                {% if related.type|t(locales) %}
                    <p class="meta meta--theme  |  leader--small">{{ related.type|t(locales) }}</p>
                {% endif %}

                {% if related.title|t(locales) %}
                    <h2 class="heading">
                        <a class="is-heir" href="{{ related.metadata.url }}" target="_blank" rel="nofollow">
                            {{ related.title|t(locales) }}
                        </a>
                    </h2>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="gallery">
        <div class="stage" id="stage">
            <div class="stage__toggle leader-inside trailer-inside">
                <button data-close class="button">{{ labels.bttn_close|default({'en-GB': 'Close', 'fr-FR': 'Fermer'})|t }}</button>
            </div>
            <div class="stage__cue">

                <figure class="actor">
                    <div class="actor__media-wrapper loading" data-stage id="center-stage"></div>
                    <figcaption class="actor__meta well well--padded well--neutral gutters">
                        <p class="caption">Maïmouna Sidibe Coulibaly’s company Faso Kaba sells seeds of maize, peanut, rice and sorghum that are adapted to the Sahelian climate</p>
                        <p class="credit">© Abdoulaye Mahamadou</p>
                    </figcaption>
                </figure>
                
                <div class="stage__controls leader-inside trailer-inside">
                    <button data-previous class="stage__prev button" id="prev">{{ labels.bttn_close|default({'en-GB': 'Previous', 'fr-FR': 'Précédent'})|t }}</button>
                    <button data-next class="stage__next button" id="next">{{ labels.bttn_close|default({'en-GB': 'Next', 'fr-FR': 'Prochain'})|t }}</button>
                </div>
            </div>
        </div>
        <div class="gallery__cloak"></div>
    </div>
</{{ config.container_tag|default('div') }}>


