{% if model|length %}
    {% import "macros/template.html.twig" as helper %}
    {% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}
    {{ '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js'|addScript('beforeBodyEnd') }}
    {{ 'containers/spore/topic-trends/topic-trends.js.twig'|addScript('beforeBodyEnd') }}

    <{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'is-root  |  trend__switches')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
        <div style="display: flex; flex-wrap: wrap;" class="topic-trends">

            {% include "partials/channel/card.html.twig" with {'config': {
                'wide': true
            }, 'channel': model|first} %}

            {% for channel in model|slice(1) %}
                {% include "partials/channel/card.html.twig" with {'config': {
                    'wide': false
                }, 'channel': model|first} %}
            {% endfor %}

        </div>
        <button class="carousel-switch carousel-previous  |  slick-arrow" aria-label="Previous">
            <span class="icon icon--chevron-left"></span>
        </button>
        <button class="carousel-switch carousel-next  |  slick-arrow" aria-label="Next">
            <span class="icon icon--chevron-right"></span>
        </button>
    </{{ config.container_tag|default('div') }}>
{% endif %}

