{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div {{ helper.container_id_attribute(frontender, "frontender")|raw }} class="{{ ["layout", config.container_class]|join("  |  ") }}">
    <div class="layout__cell  layout__cell--main  |  gutters">
        <div class="gutter">
            <h1 class="lead lead--l  |  trailer">{{ 'CTA is at the forefront of the fight against poverty and sustainable food security in the African, Caribbean and Pacific Group of Stats. CTA\'s work focuses in particular on the areas of ICT for agriculture, women and youth entrepreneurship and climate smart agriculture'|t(locales) }}.</h1>
        </div>
    </div>
    <aside class="layout__cell layout__cell--aside  |  gutters">
        <h2 class="title  |  trailer--normal">{{ 'Our vision'|t(locales) }}</h2>
        <p class="body--whisper  |  trailer--small">{{ 'CTA\'s vision is of smallholder agriculture as a vibrant, modern and sustainable business that creates value for farmers, entrepreneurs, youth and women, and produces affordable, nutritious and healthy food for all'|t(locales) }}.</p>
        <a class="block-link block-link--theme" href="javascript:void(0)">{{ 'Join us in making this vision a reality'|t(locales) }}</a>
    </aside>
</div>
