{% import "macros/template.html.twig" as helper %}
{% import "macros/image.html.twig" as image %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}


{% if model %}

{{ dump(data) }}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'gutters')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    
    <h2 class="title title--section  |  trailer">{{ 'Featured publication'|t(locales) }}</h2>

    <!-- Temporary publication. Select publication using Frontender lookup -->
    <article class="wing--right">
        <div class="wing--right">
            <div class="publication-cover well">
                <img class="publication-cover__image" src="https://publications.cta.int/media/publications/images/l/1889_Cover_scan_yGcSfhg.png" alt="Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa" />
            </div>
        </div>
        <div class="media__content">
            <div class="media media--unfold">
                <div class="media__body  |  gutters">
                    <h2 class="title  |  trailer--small">Africa agriculture status report 2017: Youth and agriculture in Sub-Saharan Africa</h2>
                </div>
            </div>
        </div>
    </article>
    <a class="publication-download" href="javascript:void(0);">
        <div class="publication-download__item">
            Download
        </div>
        <div class="publication-download__item">
            PDF 120MB
        </div>
    </a>
    <!-- END:: Temporary publication. Select publication using Frontender lookup -->
</{{ config.container_tag|default('div') }}>
{% endif %}
