{% import "macros/template.html.twig" as helper %}
{% import "macros/date.html.twig" as date %}
{% import "macros/image.html.twig" as image %}
{% import "macros/label.html.twig" as label %}
{% import "macros/file.html.twig" as file %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}


{% if model %}
<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'gutters')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>

    <h2 class="title title--section  |  trailer">{{ 'Featured publication'|t(locales) }}</h2>
    <article class="grid__cell  |  publication-layout">
        <div class="publication-layout__cover">
            <figure class="publication-cover">
                {{ image.cover(model.lead_image, 'publication-cover__image') }}
            </figure>
        </div>
        <div class="publication-layout__body">
            <p class="trailer--tiny">
                    {{ date.article(model.datePublished) }}
                {% if model.publicationLabel %}
                    <span class="meta">{{ model.publicationLabel.name|t(locales) }}</span>
                {% endif %}
            </p>
            <h3 class="heading  |  trailer--tiny">{{ model.headline|t(locales) }}</h3>
            {% if model.externalLink %}
                <div class="leader">
                    {% for link in model.externalLink %}
                        <a class="publication-download publication-download--s trailer--tiny" href="{{ link.url }}">
                            <span class="publication-download__item">{{ link.name }}</span>
                            {% if link.url|getFileSize %}
                                <span class="publication-download__item">{{ link.url|getFileSize }}</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </article>

</{{ config.container_tag|default('div') }}>
{% endif %}
