{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="filter" id="event-sort-by1">
    <button class="filter__trigger  |  title" data-toggle="#event-sort-by1">{{ 'Sort by'|t(locales) }}</button>
    <ul class="filter__options  |  reset  |  fx">
        <li><a class="filter__item  |  fx" href="?sortProperty=datePublished&sortDirection=asc">{{ 'Date (newer-older)'|t(locales) }}</a></li>
        <li><a class="filter__item  filter__item--selected  |  fx" href="?sortProperty=datePublished&sortDirection=desc">{{ 'Date (older-newer)'|t(locales) }}</a></li>
        <li><a class="filter__item  |  fx" href="?sortProperty=headline&sortDirection=desc">{{ 'Alphabetical order (A-Z)'|t(locales) }}</a></li>
        <li><a class="filter__item  |  fx" href="?sortProperty=headline&sortDirection=asc">{{ 'Alphabetical order (Z-A)'|t(locales) }}</a></li>
    </ul>
</div>
