{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{% import "macros/template.html.twig" as helper %}
{% import "macros/image.html.twig" as image %}
{% import "macros/schema.html.twig" as schema %}

{{ hashedPath('/assets/css/person.css')|addStyle('styles') }}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'person layout')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }} {{ config.schema|default(false) ? schema._(model) }}>   
    <div class="person__headline layout__cell">
        <h1 class="heading heading--hero gutters">{{ (model.honorificPrefix ~ ' ' ~ model.givenName ~ ' ' ~ model.familyName)|trim }}</h1>
        <p class="title title--apropos gutters">{{ model.jobTitle }}</p>
    </div>
    <div class="person__summary layout__cell layout">
        <div class="person__standfirst layout__cell">
            <div class="gutters">{{ model.description }}</div>
            {% if model.twitterHandle or model.linkedInProfile or model.facebookPage %}
                <div class="gutters leader--normal">
                    {% if model.twitterHandle %} 
                        <dl class="media  |  body--whisper  |  leader--tiny leader-inside--tiny">
                            <dt class="media__figure">
                                <a class="icon icon--twitter  |  is-heir" href="{{ '//twitter.com/' ~ model.twitterHandle }}" target="_blank"><span class="is-narrative">{{ "Twitter"|i18n }}</a>
                            </dt>
                            <dd class="media__body  |  gutters">
                                <a href="{{ '//twitter.com/' ~ model.twitterHandle }}" target="_blank">{{ model.twitterHandle }}</a>
                            </dd>
                        </dl>
                    {% endif %}
                    {% if model.linkedInProfile %}
                        <dl class="media  |  body--whisper  |  leader--tiny leader-inside--tiny">
                            <dt class="media__figure">
                                <a class="icon icon--linkedin  |  is-heir" href="{{ model.linkedInProfile }}" target="_blank"><span class="is-narrative">{{ "LinkedIn"|i18n }}</span></a>
                            </dt>
                            <dd class="media__body  |  gutters">
                                <a href="{{ model.linkedInProfile }}" target="_blank">{{ model.linkedInProfile }}</a>
                            </dd>
                        </dl>
                    {% endif %}
                    {% if model.facebookPage %}
                        <dl class="media  |  body--whisper  |  leader--tiny leader-inside--tiny">
                            <dt class="media__figure">
                                <a class="icon icon--facebook  |  is-heir" href="{{ model.facebookPage }}" target="_blank"><span class="is-narrative">{{ "Facebook"|i18n }}</a>
                            </dt>
                            <dd class="media__body  |  gutters">
                                <a href="{{ model.facebookPage }}" target="_blank">{{ model.facebookPage }}</a>
                            </dd>
                        </dl>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <figure class="person__avatar layout__cell gutters">
            {{ image.person( model, '500' ) }}
        </figure>
    </div>
    <div class="person__biography layout__cell">
        <h2 class="title gutters trailer--normal">{{ labels.biography|default({"en-GB": "Biography", "fr-FR": "Biographie"})|t}}</h2>
        <p class="gutters">{{ model.biography|nl2br }}</p>
    </div>
{% for loopContainer in containers %}
        {% include loopContainer.template with loopContainer %}
    {% endfor %}
</{{ config.container_tag|default('div') }}>