{% import "macros/share.html.twig" as share %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="{{ tile_class }}  |  shade">
    <a class="article-image" href="{{ route({'page': model.path, 'slug': model.headline|t(locales)|slugify, 'id': model._id}) }}" style="background-image: url('{{ model.link.mediaObject|first.metadata.previewUrl }}');" data-modal="modal-{{ model._id }}">
        <div class="article-caption article-title">{{ model.headline }}</div>
        <div class="article__triangle"></div>
    </a>
</div>
<div class="fx modal" id="modal-{{ model._id }}">
    <div class="post  |  fx  |  {{ "theme--" ~ config.colour_theme }}">
        <button class="post-close  |  fx  |  anchor--reset"><a class="icon icon-cross" href="{{ site.url }}"></a></button>
        <div class="standout standout--post  |  fx">
            <header class="post-header">
                <figure class="post-hero">
                    <img src="{{ model.link.mediaObject|first.metadata.previewUrl }}" alt="{{ model.headline }}">
                    <figcaption class="image-caption">{{ model.link.mediaObject|first.credit }}</figcaption>
                </figure>
                <div class="post-header__title  |  gutters  |  wings  |  leader-inside  |  trailer-inside">
                    <h1 class="title title--headline">{{ model.headline }}</h1>
                </div>
            </header>


            <article class="post-body  |  gutters  |  wings  |  leader--hero">
                <div class="social__share  |  trailer">
                    {{ share.bar_article_linkedin(model, true) }}
                </div>
                {% if model.about %}
                    <p class="paragraph--lead">{{ model.about|striptags('<strong><em><u><a><sub><sup>')|raw }}
                {% endif %}
                {% for i, contentBlock in model.contentBlocks %}
                    {% include 'partials/content-blocks/' ~ contentBlock.type ~ '-' ~ contentBlock.subtype|default('raw') ~ '.html.twig' with {'content': contentBlock} %}
                {% endfor %}
                <div class="well  |  leader  |  trailer">
                    {{ share.bar_article_linkedin(model) }}
                </div>
            </article>


            {% if prev and next %}
                <div class="wings">
                    <div class="post-footer  |  credit">
                        <a class="credit__cell  |  leader-inside  |  trailer-inside  |  gutters  |  anchor--reset" data-pagination="modal-{{ prev._id }}" href="{{ route({'page': prev.path, 'slug': prev.headline|t(locales)|slugify, 'id': prev._id}) }}">
                            <p class="category category--s  |  article-title">Previous article</p>
                            <p class="article-title  |  anchor--reset">{{ prev.headline }}</p>
                        </a>
                        <a class="credit__cell  |  leader-inside  |  trailer-inside  |  gutters  |  anchor--reset" data-pagination="modal-{{ next._id }}" href="{{ route({'page': next.path, 'slug': next.headline|t(locales)|slugify, 'id': next._id}) }}">
                            <p class="category category--s  |  article-title">Next article</p>
                            <p class="article-title">{{ next.headline }}</p>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
