{{ '/assets/css/exposition.css'|addStyle('styles') }}
{{ 'containers/channels/exposition/exposition.js.twig'|addScript('beforeBodyEnd') }}

{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

{% set numArticles = model.articles|length %}
{% if numArticles < 3 and numArticles > 0 %}
    {% set numArticles = 3 %}
{% endif %}

{% if numArticles >= 3 %}
    <section id="section-{{ model._id }}" class="wings  |  trailer--section  |  gutters  |  is-root  |  exposition-wrapper  exposition--{{ numArticles }}  |  theme-slider {{ ["theme--" ~ config.alignment, "theme--" ~ config.colour_theme, container_class]|join("  |  ") }}   {% if query.fromFrontender %} is-visible{% endif %}" {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
        <div class="exposition  |  is-root{% if query.fromFrontender %} exposition-visible{% endif %}">
            <div class="exposition__section" id="{{ model._id }}">
                <div class="section">
                  <span class="section-number">1</span>
                </div>
            </div>
            <div class="exposition-title  |  wings  |  gutters">
                <h2 class="heading  |  section-heading">{{ model.name|t(locales) }}</h2>
            </div>
            <div class="exposition__illustration">
                <img src="/assets/images/cover-illustrations/{{ config.story }}.png" alt="{{ config.story }}">
            </div>
        </div>
        <div class="article-group--wrapper">
            <div class="article-group">
                {% include "containers/channels/exposition/_exposition--" ~ numArticles ~ "-tiles.html.twig" with {model: model.articles} %}
            </div>
            <button class="article-switch" data-direction="left"><span class="cta-report-icon icon-chevron-left"></span></button>
            <button class="article-switch" data-direction="right"><span class="cta-report-icon icon-chevron-right"></span></button>
        </div>
    </section>
{% endif %}
