{% macro event_short(start_date, end_date, timezone = null) %}
    {% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
    <time class="meta" datetime="{{ start_date }}" itemprop="startDate">{{ start_date|tdate('%e %b %Y', timezone) }}</time>
    {% if end_date is defined and start_date|tdate('%Y-%m%d', timezone) != end_date|tdate('%Y-%m%d', timezone) %}
        <time class="meta" datetime="{{ end_date }}" itemprop="endDate">{{ end_date|tdate(' – %e %b %Y', timezone) }}</time>
    {% endif %}
{% endmacro %}

{% macro event_long(start_date, end_date, timezone = null) %}
    {% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
    <time class="meta" datetime="{{ start_date }}" itemprop="startDate">{{ start_date|tdate('%A, %e %B %Y', timezone) }}</time>
    {% if end_date is defined and start_date|tdate('%Y-%m%d', timezone) != end_date|tdate('%Y-%m%d', timezone) %}
        <time class="meta" datetime="{{ end_date }}" itemprop="endDate">{{ end_date|tdate(' – %A, %e %B %Y', timezone) }}</time>
    {% endif %}
{% endmacro %}

{% macro article(date, timezone = null) %}
    {% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
    {% if date %}
        <time class="meta" datetime="{{ date }}">{{ date|tdate('%e %B %Y', timezone) }}</time>
    {% endif %}
{% endmacro %}

{% macro tile(date, timezone = null) %}
    {% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
    <span class="date">
        <span class="date__head">{{ date|tdate('%b', timezone) }}</span>
        <span class="date__body">{{ date|tdate('%e', timezone) }}</span>
    </span>
{% endmacro %}

{% macro tile_year(date, timezone = null) %}
    <span class="stamp">
        <span class="stamp__body">{{ date|tdate('%Y', timezone) }}</span>
    </span>
{% endmacro %}

{% macro issue_year(date, timezone = null, class = null) %}
    <time class="{{ class|default('meta') }}" datetime="{{ date }}">{{ date|tdate('%Y', timezone) }}</time>
{% endmacro %}

{% macro issue_date(date, timezone = null, class = null) %}
    {% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
    <time class="{{ class|default('meta') }}" datetime="{{ date }}">{{ date|tdate('%B %Y', timezone) }}</time>
{% endmacro %}
