{% macro download(file, size = '', class = '') %}
    {% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
    <a
        class="publication-download {{ size == 'small' ? 'publication-download--s' }} {{ class }}"
        href="{{ file.metadata.url }}"
        title="{{ file.name|t(locales)|default('') }}"
        >
        <span class="publication-download__item">
            {{ file.contentType|getFileFormat }}
        </span>
        <span class="publication-download__item">
            {{ file.metadata.url|getFileSize }}
        </span>
    </a>
{% endmacro %}