{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<script type="text/javascript">
    jQuery(function($) {
        var main_nav = $('.site-navigation__menu:not(.menu--secondary)'),
            count = $('.site-navigation__browse').find('.site-navigation__menu').find('> li').length;

        main_nav.responsiveMenu({
            wrapper: '.site-navigation__nav',
            template: 'demoted-menu',
            trigger: '#demoted-menu',
            text: {
                noItems: 'Menu',
                items: 'More'
            }
        });

        $(window).resize({
            breakpoint: '(min-width: 56.83333em)',
            onMiss: function() {
                $('.menu--secondary').find('> li').detach().appendTo(main_nav);
                main_nav.trigger('calcRegistry');
            },
            onHit: function() {
                main_nav.find('> li').slice(-count).each(function (key, element) {
                    $(element).detach().appendTo($('.menu--secondary'));
                });
                main_nav.trigger('calcRegistry');
            }
        });
    });
</script>

<nav class="{{ ["site-navigation  |  wings", container_class]|join("  |  ") }} {{ settings.show_menu }}" {% if masthead_config.colour_theme_masthead %}style="background-color: #fdb735;"{% endif %}>
    {% include 'partials/brand/' ~ main_menu.brand|default('cta.html.twig') %}
    <div class="site-navigation__nav">
        <ul class="list--inline  |  menu  |  site-navigation__menu">
            {% if main_menu.brand|default('cta.html.twig') is same as('_cta.html.twig_') %}
                <li><a class="menu__item {{ is_active(path_for('home', {locale: locale}), 'is-current') }}" href="{{ route() }}">{{ 'Home'|i18n }}</a></li>
            {% endif %}
            {% for link in main_menu.links %}
                {% set route = link.id ? route({'page': link.page|t(locales), 'slug': link.slug|default(link.page), 'id': link.id}) : route({'page': link.page|t(locales)})  %}
                <li>{% include 'partials/menu-link.html.twig' with {link: link, config: {anchor_class: 'menu__item' ~ is_active(route, ' is-current')}} %}</li>
            {% endfor %}
        </ul>
        <div class="site-navigation__browse">
            <form class="site-navigation__search  |  site-search" method="get" action="{{ route({'page': 'search'}) }}">
                {% if main_menu.brand|default('cta.html.twig') is not same as('cta.html.twig') %}
                    <a class="site-search__brand" href="{{ route() }}">
				        <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg"><title>CTA</title><g fill="none" fill-rule="evenodd"><path d="M3 12.923c.256 2.334 2 5.077 4 5.75C7.016 18.994 7 29 7 29h22.02V7H7s.016 3.236 0 3c-3 0-3.14-.635-4.2-.93 0 0-.15 2.063.2 3.853z" fill="#FFF"></path><path fill="#7BB010" d="M8 8h20v20H8"></path><path d="M21.933 10.594l-.226-.023-.23-.022c-.084-.007-.39-.032-.85-.032-1.215 0-3.502.182-5.147 1.4-2.067 1.534-2.53 3.732-2.777 4.913-.04.195-.104.49-.136.555-.058.107-.145.225-.223.327-.06.075-.122.155-.18.236-.63.89-.987 2.054-1.072 3.472-.033.448-.032.94.004 1.462.056.832.166 1.404.19 1.523.227 1.284.805 3.595.805 3.595h2.715s-1.276-3.402-1.605-5.036c-.276-1.37-.17-2.36.363-3.413.397-.587.948-.746 1.242-.788.25-.036.552-.047.876-.06 1.213-.044 2.722-.1 3.86-1.392 2.388-2.71 2.397-6.116 2.396-6.26l-.002-.228v-.228z" fill="#00662F"></path><path d="M12.687 23.3c-.333-1.704-.108-2.792.417-3.848.426-.666 1.047-.972 1.587-1.052 1.177-.176 3.1.19 4.382-1.312 2.258-2.645 2.242-6.04 2.242-6.04s-3.433-.35-5.587 1.297c-2.445 1.87-2.45 4.86-2.74 5.408-.07.138-.165.27-.266.408-.056.073-.11.147-.163.222-.658.96-.904 2.176-.968 3.28-.032.422-.032.89.003 1.413.06.9.18 1.494.18 1.494.04.233.085.46.13.682.03.146.063.288.095.428.215.94.456 1.735.58 2.32h1.606c-.307-1.034-1.205-3.2-1.498-4.7z" fill="#FFF"></path><path d="M16.396 14.892c-.81.896-.96 1.41-.96 1.41s-.32.525-.512.197c-.217-.374.104-1.224 1.317-2.245 1.314-1.106 2.868-1.648 2.868-1.648s-1.568 1.023-2.712 2.285z" fill="#00662F"></path><path d="M11.385 14.515l-1.3-.497-2.537-.807L6 12.343H4.948v1.8l2.228 2.236s2.043.187 2.228 0c.186-.186 1.176-.186 1.176-.186h.68l.125-1.677zM18.96 25.54c-.347.08-.732.176-1.353.176-1.216 0-2.62-.596-2.62-2.27 0-1.54 1.11-2.307 2.614-2.307.465 0 .916.1 1.353.228l-.098.957c-.392-.21-.77-.31-1.19-.31-.862 0-1.424.607-1.424 1.432 0 .868.635 1.394 1.524 1.394.398 0 .804-.1 1.137-.227l.06.926zM20.3 22.09h-1.125v-.874h3.465v.874h-1.124v3.55H20.3M23.778 23.86l.588-1.732h.014l.542 1.73h-1.144zm1.347-2.644h-1.49L21.9 25.64h1.237l.36-.945h1.713l.34.945h1.333l-1.758-4.424z" fill="#FFF"></path><path d="M10.68 15.584c-.395.104-1.773-.12-2.644-.53-2.325-1.097-3.012-2.35-3.012-2.35s1.566 1.26 3.038 1.674c1.47.415 2.437.536 2.578.548.142.012.285.04.367.128.16.168.013.44-.326.53zm3.625 2.56c-.178-.533-.462-.935-.727-1.254l.004-.003c-.174-.23-.358-.437-.533-.623h-.002c-.093-.1-.183-.193-.27-.282-.134-.29-.252-.777-.252-.777-.108-.537-.316-1.373-.676-2.127-.094-.267-.28-.575-.533-.87-.078-.098-.16-.19-.246-.274l-.003.007c-.49-.477-1.155-.878-1.88-.956-.53-.056-.914-.054-1.237-.025v-.002s-2.616.302-4.203-.39l-.087-.048s-.307 3.558 2.17 6.11h-.013s.118.132.337.314c.825.745 1.563 1.014 2.204 1.036.686.116 1.487.076 2.373-.277v.002s1.03-.363 1.51-.117c.1.093.198.197.284.314.42.483.608.953.515 1.636-.086.625-.28 1.18-.47 1.884l.166 1.16.137.477.02-.044.303.952c.443-.836.842-1.757 1.077-2.705.293-1.18.375-2.097.032-3.12zm-2.97 6.408C10.772 25.8 10.166 28 10.166 28h2.092c0-.81-.392-1.336-.467-1.853l-.454-1.595z" fill="#00662F"></path></g></svg>
					    </a>
                {% endif %}
                <label class="is-narrative" for="site-search">Search</label>
                <input class="site-search__input" id="site-search" name="q" value="{{ query.q }}" placeholder="{{ 'Search CTA'|i18n }} &hellip;" type="text" />
                <button class="is-narrative" type="submit">Search</button>
            </form>
            <ul class="list--inline  |  menu menu--secondary  |  site-navigation__menu">
                {% for link in browse_menu.links %}
                    {% set route = link.id ? route({'page': link.page|t(locales), 'slug': link.slug|default(link.page), 'id': link.id}) : route({'page': link.page|t(locales)})  %}
                    <li>{% include 'partials/menu-link.html.twig' with {link: link, config: {anchor_class: 'menu__item' ~ is_active(route, ' is-current')}} %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<template data-template="demoted-menu">
    <li class="site-navigation__demoted  |  is-inactive" id="demoted-menu">
        <a href="#demoted-menu" class="menu__item" data-toggle=".site-navigation__demoted">{{ 'More'|i18n }}&nbsp;<span class="icon icon--chevron-down"></span></a>
        <ul></ul>
    </li>
</template>
