
{% if model.projectEvents|length %}
    {% import "macros/concept.html.twig" as concept %}
    {% import "macros/image.html.twig" as image %}
    {% import "macros/template.html.twig" as helper %}
    {% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
    <{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, '')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
        {% if labels.container_title|t(locales) %}
            <h2 class="title title--container  |  wings  |  trailer">
                <span class="gutters">{{ labels.container_title|t(locales) }}</span>
            </h2>
        {% endif %}
            {#
            Allow the header container to be embedded in the results, when result
            is empty the header will not be shown
        #}
        {% include "containers/projects/preview/preview.html.twig" with {'config': {}, 'model': model.projectEvents|first}  %}
        {% for event in model.projectEvents|slice(1) %}
            {% include "containers/projects/preview/preview.html.twig" with {'config': {'container_class': 'leader leader-inside divider divider--top'}, 'model': event}  %}
        {% endfor %}
    </{{ config.container_tag|default('div') }}>
{% endif %}
