{% import "macros/date.html.twig" as date %}
{% import "macros/concept.html.twig" as concept %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

{% if 'event' in query.type or not query.type %}
    <section class="trailer--giant">
        <h2 class="title title--section  |  fld--label  |  leader  |  trailer  |  gutters">
            {% if model.eventTotal == 1 %}
                {{ model.eventTotal }} {{ 'Result in projects and events'|t(locales) }}
            {% else %}
                {{ model.eventTotal }} {{ 'Results in projects and events'|t(locales) }}
            {% endif %}
        </h2>
        {% if model.eventTotal > 0 %}
            <div data-serp-events>
                {% include 'modules/serp/serp-events/serp-events-list-with-load-more.html.twig'%}
            </div>
        {% else %}
            {% if query.q %}
                <p class="leader trailer gutters">{{ 'No events or projects found for'|t(locales) }} &ldquo;{{ query.q }}&rdquo;</p>
            {% else %}
                <p class="leader trailer gutters">{{ 'No events or projects found'|t(locales) }}</p>
            {% endif %}
        {% endif %}
    </section>
{% endif %}