{% import "macros/image.html.twig" as image %}
{% import "macros/date.html.twig" as date %}
{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

{% if(article.related.articles|length > 0) %}
	<figure class="{{ [" hero hero--topic-teaser", container_class]|join(" | ") }}" {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
		<div class="ie9-hero">
			{{ image.hero(article.related.articles|first.link.mediaObject|lead, is_crowned|default(0), "hero__figure  |  image image--stretch") }}
		</div>
		<figcaption class="hero__headline hero__headline--left">
			<div class="headline__cover  |  leader leader-inside  |  trailer trailer-inside  |  wings">
				<div class="gutters">
					{{ date.issue_date(article.related.articles|first.datePublished) }}
				</div>
				<div class="gutters">
					<a class="title title--headline" href="{{ route({'page': article.path_prefix ~ '/article', 'id': article.related.articles|first._id}) }}">{{ article.related.articles|first.headline }}</a>
				</div>
				  <p class="leader  |  trailer  |  gutters">{{ article.related.articles|first.about|striptags[:140] ~ '…' }}</p>
				  {% if show_read_more|default(1) %}
				   <a class="read-more  |  gutters" href="{{ route({'page': article.path_prefix ~ '/article', 'id': article.related.articles|first._id}) }}">{{ 'Read more'|t(locales) }}</a>
				{% endif %}
				</div>
				<em class="headline__tax  |  wings"><span class="label  |  gutters">{{ article.related.articles|first.articleType }}</span></em>
		</figcaption>
	</figure>
{% endif %}
