{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<section class="panel  |  wing--right" id="{{ c.id|default("documents") }}">
  <h2 class="title">
    <a class="panel__trigger  |  gutters  |  is-heir" href="#{{ c.id|default("documents") }}">{{ labels.panel_title|t|default("Downloads"|i18n) }}</a>
  </h2>
  <div class="panel__body">
    <ul class="grid grid--musketeers  |  reset">
		{% for download in media|findType('file') %}
			{% if (download.label|filterArray("_id", model._id|t(locales))|length) or (download.label|length == 0) %}
            <li class="grid__cell  |  leader--normal  |  trailer--normal  |  gutters" itemscope itemtype="https://schema.org/MediaObject">
    			<h2 class="title title--apropos" itemprop="about"><a href="{{ download.metadata.url }}" target="_blank">{{ download.description }}</a></h2>
    			<div class="media  |  leader--small">
    				<div class="media__figure">
    					<a class="icon icon--download" href="{{ download.metadata.url }}" target="_blank"></a>
    				</div>
    				<div class="media__body  |  gutters">
    					<a class="block-link  |  download-size" href="{{ download.metadata.url }}" target="_blank" itemprop="contentUrl">{{ download.name|default(download.description) }}</a>
    					<p class="download-size">{{ 'format'|i18n }}
                            <span itemprop="encodingFormat">{{ download.contentType|extension }}</span>,
                            <span itemprop="contentSize">{{ download.metadata.url|getFileSize }}</span>
                        </p>
    				</div>
    			</div>
			</li>
			{% endif %}
        {% endfor %}
        {% for download in media|findType('document') %}
			{% if (download.label|filterArray("_id", model._id|t(locales))|length) or (download.label|length == 0) %}
            <li class="grid__cell  |  leader--normal  |  trailer--normal  |  gutters" itemscope itemtype="https://schema.org/MediaObject">
    			<h2 class="title title--apropos" itemprop="about"><a href="{{ download.metadata.url }}" target="_blank">{{ download.description }}</a></h2>
    			<div class="media  |  leader--small">
    				<div class="media__figure">
    					<a class="icon icon--download" href="{{ download.metadata.url }}" target="_blank"></a>
    				</div>
    				<div class="media__body  |  gutters">
    					<a class="block-link  |  download-size" href="{{ download.metadata.url }}" target="_blank" itemprop="contentUrl">{{ download.name|default(download.description) }}</a>
    					<p class="download-size">{{ 'format'|i18n }}
                            <span itemprop="encodingFormat">{{ download.contentType|extension }}</span>,
                            <span itemprop="contentSize">{{ download.metadata.url|getFileSize }}</span>
                        </p>
    				</div>
    			</div>
    	    </li>
			{% endif %}
        {% endfor %}
    </ul>
  </div>
</section>
