{{ hashedPath('/assets/css/exposition.css')|addStyle('styles') }}
{{ 'containers/channels/exposition/exposition.js.twig'|addScript('beforeBodyEnd') }}

{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<{{ config.container_tag|default('div') }} {{ helper.class_attribute(config, 'download-wrapper  |  is-root')|raw }} {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="gutters">
        <div class="download">
            <p class="download-title  |  gutters--double">{{ labels.title|t(locales) }}</p>
            <div class="button-set  |  leader">
                <a class="button button--media  |  anchor--reset  |  fx" href="{{ labels.download_link|t(locales) }}" download="">
                    <span class="icon icon-open-book"></span>
                    <pan>
                        <span class="label--s">application/pdf</span>
                        {% if labels.download_link|t(locales) %}
                            <span class="label--xs">{{ labels.download_link|t(locales)|getFileSize }}</span>
                        {% endif %}
                    </span>
                </a>
                <a class="button  |  anchor--reset  |  fx" href="{{ labels.download_link|t(locales) }}" download="">{{ labels.download_label|t(locales) }}</a>
            </div>
        </div>
    </div>
</{{ config.container_tag|default('div') }}>
