{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{% import "macros/template.html.twig" as helper %}
{% import "macros/image.html.twig" as image %}
{% import "macros/schema.html.twig" as schema %}
{% import "macros/date.html.twig" as date %}
{% import "macros/concept.html.twig" as concept %}

{{ hashedPath('/assets/css/person.css')|addStyle('styles') }}
{{ 'containers/persons/body/body.css.twig'|addAsset('styles') }}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, '')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }} {{ config.schema|default(false) ? schema._(model) }}> 
    
    {# Publications and events #}
    {% if model.publications|length or model.events|length %}
        <div class="layout layout--split leader--hero  trailer--hero">

            {# Publications #}
            <section class="layout__cell layout__cell--aside layout__cell--divider wings">
                <header class="container-header container-header--slim-fit" data-frontender="9179a78afb3e34d649bfab3b34d9c0c9">
                    <h2 class="container-header__title  |  title title--container trailer-inside--tiny  |  gutters">
                        {{ labels.publications|default({"en-GB": "Publications", "fr-FR": "Publications"})|t }}
                    </h2>
                    <div class="container-header__filter  |  gutters">
                        <a class="title title--filter  |  anchor  |  is-heir" href="https://www.cta.int/en/blog/all">
                            {{ 'View all'|i18n }}
                        </a>
                    </div>
                </header>
                {% if model.publications|length %}
                    <ol class="reset leader--hero">
                    {% for item in model.publications %}
                        <li>
                            <article class="publication-tile publication-tile--s media trailer leader--normal trailer--normal gutters">
                                <div class="publication-tile__cover media__figure gutter">
                                    <figure class="publication-cover publication-cover--s">
                                        <a href="{{ route({'page': item.path, 'slug': item.headline|t(locales)|slugify, 'id': item._id}) }}">
                                            {{ image.contentBlock_cover(item.contentBlocks|filterArray('subtype', 'image'), "publication-cover__image") }}
                                        </a>
                                    </figure>
                                </div>
                                <div class="media__body">
                                    {% if config.show_publication|default(1) %}
                                        <p class="trailer-inside--tiny">{{ date.issue_date(item.datePublished) }}</p>
                                    {% endif %}
                                    <h2 class="heading heading--focus">
                                        <a class="is-heir" href="{{ route({'page': item.path, 'slug': item.headline|t(locales)|slugify, 'id': item._id}) }}">
                                            {{ item.headline|t(locales) }}
                                        </a>
                                    </h2>
                                    {% if config.standfirst|default(1) %}
                                        <p class="leader--tiny">
                                            {{ item.about|t(locales) }}
                                        </p>
                                    {% endif %}
                                    {% if config.show_author_name|default(1) and item.link.person.author|length %}
                                        <p class="author">
                                            {{ author.long(item.link.person.author) }}
                                        </p>
                                    {% endif %}
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                    </ol>
                {% else %}
                    <p>{{ labels.no_events|default({"en-GB": "No publications were found", "fr-FR": "No publications were found"})|t }}</p>
                {% endif %}
            </section>
            
            {# Events #}
            <section class="layout__cell layout__cell--main wings">
                <header class="container-header container-header--slim-fit" data-frontender="9179a78afb3e34d649bfab3b34d9c0c9">
                    <h2 class="container-header__title  |  title title--container trailer-inside--tiny  |  gutters">
                        {{ labels.publications|default({"en-GB": "Events", "fr-FR": "Événements"})|t }}
                    </h2>
                    <div class="container-header__filter  |  gutters">
                        <a class="title title--filter  |  anchor  |  is-heir" href="https://www.cta.int/en/blog/all">
                            {{ 'View all'|i18n }}
                        </a>
                    </div>
                </header>
                {% if model.events|length %}
                    <ol class="reset leader--hero">
                        {% for item in model.events|slice(0,4) %}
                            <li>
                                <article class="{{['media',class]|join(' ')}}" itemscope itemtype="https://schema.org/Event">
                                    <div class="media__figure gutters gutter-mobile--right">
                                        {{ date.tile(item.startDate) }}
                                    </div>
                                    <div class="media__content">
                                        <div class="profile-event media media--unfold">
                                            <div class="profile-event__body media__body gutters trailer">
                                                <a class="anchor--reset anchor--shy stack" href="{{ route({'page': item.path, 'slug': item.name|t(locales)|slugify , id: item._id}) }}">
                                                    {% if highlight %}
                                                        <h2 class="heading heading--focus" itemprop="name">{{ item.name|highlightText(query.q|default(''), 'highlight')|raw }}</h2>
                                                    {% else %}
                                                        <h2 class="heading heading--focus" itemprop="name">{{ item.name }}</h2>
                                                    {% endif %}
                                                </a>
                                                <div class="trailer--small">
                                                    {{ date.event_long(item.startDate, item.endDate) }}
                                                </div>
                                                <div class="body--whisper trailer--normal">
                                                    {% if highlight %}
                                                        {{ item.description|truncate(length|default(400))|highlightText(query.q|default(''), 'highlight')|raw }}
                                                    {% else %}
                                                        {{ item.description|truncate(length|default(400))|raw }}
                                                    {% endif %}
                                                </div>
                                                <div class="leader--small">
                                                    <ul class="reset label-list reset list--inline">
                                                        {% if item.analysis.agrovoc.concepts | length > 1 %}
                                                            {% for label in item.analysis.agrovoc.concepts | slice(0, 3) %}
                                                                <li>{{ concept.label(label, locale) }}</li>
                                                            {% endfor %}
                                                        {% endif %}
                                                        {% if item.theme %}
                                                            <li class="{{ item.theme.selector }}">
                                                                <a class="label label--s" href="{{ route({'page': 'search'}) ~ '?strategy=' }}{{ item.theme._id }}">{{ item.theme.name|split('/')|last }}</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="profile-event__meta media__figure  media__aside trailer">
                                                <div class="gutters">
                                                    <dl class="dlist clear">
                                                        {% if item.type %}
                                                            <dt class="dlist__label meta meta--s meta--dark">{{ 'Type'|i18n }}: </dt>
                                                            <dd class="dlist__value meta meta--s meta--lc meta--dark">
                                                                <strong>{{ item.type|t(locales) }}</strong>
                                                            </dd>
                                                        {% endif %}
                                                        {% if item.type %}
                                                            <dt class="dlist__label meta meta--s meta--dark">{{ 'Role'|i18n }}: </dt>
                                                            <dd class="dlist__value meta meta--s meta--lc meta--dark">
                                                                <strong>{{ item.type|t(locales) }}</strong>
                                                            </dd>
                                                        {% endif %}
                                                    </dl>

                                                    {% if item.location %}
                                                        <div class="leader">
                                                            {% include "partials/location.html.twig" with {"location": item.location} %}
                                                            <span itemprop="location" itemscope itemtype="https://schema.org/Place">
                                                                <meta itemprop="address" content="{{ item.location.address.addressLocality|t(locales) }}"/>
                                                            </span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                {% if not loop.last %}
                                    <div class="gutters divider divider--top trailer"></div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ol>                  
                {% else %}
                    <p>{{ labels.no_events|default({"en-GB": "No events were found", "fr-FR": "No events were found"})|t }}</p>
                {% endif %}
            </section>
        </div>
    {% endif %}

    {# Articles #}
    {% if model.articles|length %}
        <section class="leader--hero trailer--hero wings">
            <div class="gutters trailer-inside--hero divider divider--top"></div>
            <header class="container-header container-header--slim-fit" data-frontender="9179a78afb3e34d649bfab3b34d9c0c9">
                <h2 class="container-header__title  |  title title--container trailer-inside--tiny  |  gutters">
                    {{ labels.articles|default({"en-GB": "Articles", "fr-FR": "Articles"})|t }}
                </h2>
                <div class="container-header__filter  |  gutters">
                    <a class="title title--filter  |  anchor  |  is-heir" href="https://www.cta.int/en/blog/all">
                        {{ 'View all'|i18n }}
                    </a>
                </div>
            </header>
            <div class="layout layout--even leader--hero">
                {% for article in model.articles|slice(0, 4) %}
                    <article class="layout__cell gutters divider divider--bottom leader-inside trailer-inside">
                        {% include 'partials/article/post-row.html.twig' with { 'model': article, 'config': {
                            'container_class': 'post--wide',
                            'show_publication_date': 1,
                            'show_publication': 0,
                            'show_type': 0,
                            'show_author_name': 0,
                            'show_stand_first': 1,
                            'show_topic': 0,
                            'show_read_more': 1,
                            'show_lead_image': 1
                        } } %}
                    </article>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {# Media #}
    {% if model.mediaObject|length %}
        <section class="leader--hero  trailer--hero wings">
            <div class="gutters trailer-inside--hero divider divider--top"></div>
            <header class="container-header container-header--slim-fit" data-frontender="9179a78afb3e34d649bfab3b34d9c0c9">
                <h2 class="container-header__title  |  title title--container trailer-inside--tiny  |  gutters">
                    {{ labels.media|default({"en-GB": "Media", "fr-FR": "Media"})|t }}
                </h2>
            </header>
            <div class="leader--hero">
                {% include 'containers/media/gallery/gallery.html.twig' with { model: { link: { mediaObject: model.mediaObject } } } %}
            </div>
        </section>
    {% endif %}
    
</{{ config.container_tag|default('main') }}>
