{% import "macros/date.html.twig" as date %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<a class="anchor--reset anchor--shy  |  is-heir  |  stack" href="{{ route({'page': event.path, 'slug': event.name|t(locales)|slugify, 'id': event._id}) }}">
    <div class="stack__unit stack__pin">
        <div class="gutter-outside">
            {{ date.tile(event.startDate) }}
        </div>
    </div>
    <div class="stack__unit">
        <h2 class="heading">{{ event.name }}</h2>

        {{ date.event_short(event.startDate, event.endDate, event.timezone) }}

        {% if event.location.address.addressLocality %}
            <div class="body--whisper">{{ event.location.address.addressLocality|t(locales) }}, {{ event.location.address.addressCountry|t(locales) }}</div>
        {% endif %}
    </div>
</a>
