{% set has_speakers = false %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{{ hashedPath('/assets/javascript/tabs.js')|addScript('beforeBodyEnd') }}
{{ 'containers/global/panels/panels.js.twig'|addScript('beforeBodyEnd', {
    tab_config: {
        selector: '.panel-group'
    }
}) }}

<section>
    <div class="layout layout--reversed  |  leader--hero">
        <div class="layout__cell layout__cell--aside layout__cell--divider  |  wings  |  trailer-inside--hero">
            <nav class="gutters">
                <ul class="is-gt-small-desktop  |  reset">
                    <li>
                        <a class="title title--tab" href="#staff">{{ {'en': 'CTA staff', 'fr': "Nos collaborateurs"}|t(locales) }}</a>
                    </li>
                    <li>
                        <a class="title title--tab" href="#board">{{ {'en': 'Executive Board members', 'fr': "Membres du Conseil d'administration"}|t(locales) }}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="panel-group  |  layout__cell  |  trailer-inside--hero" data-tab-config="{&quot;children&quot;: &quot;{{ tab_config.children|default('.panel') }}&quot;, &quot;attribute&quot;: &quot;{{ tab_config.attribute|default('href') }}&quot;, &quot;allowMultiple&quot;: {{ tab_config.allow_multiple|default(0) }}, &quot;openFirst&quot;: {{ tab_config.open_first|default(1) }}, &quot;scrollTo&quot;: {{ tab_config.scroll_to|default(1) }}}">
            <section class="panel  |  wings" id="staff">
                <h2 class="title  |  gutters">
                    <a class="panel__trigger  |  is-heir" href="#staff">{{ labels.title|t }}</a>
                </h2>
                <div class="panel__body">
                    {% for loopContainer in containers %}
                        {% include loopContainer.template with loopContainer %}
                    {% endfor %}
                </div>
            </section>

            <!-- Implement configurable board members -->
            {% include "containers/staff/panels/board.html.twig" %}
        </div>
    </div>
</section>
