{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<h2 class="title  |  trailer  |  gutters">{{ content.title|t(locales) }}</h2>
{% for tweet in tweets %}
    <div class="media  |  divider divider--bottom  |  trailer trailer-inside">
        <div class="media__figure  |  gutters"><span class="icon icon--l icon--twitter  |  twitter-feed"></span></div>
        <div class="media__body  |  gutters">
            <a class="anchor--shy" href="https://twitter.com/{{ tweet.user.id_str }}/status/{{ tweet.id_str }}" target="_blank">{{ tweet.full_text|striptags|raw }}</a>
            <p class="meta meta--lowercase">{{ tweet.created_at|elapsed }}</p>
        </div>
    </div>
{% endfor %}
