{% import "macros/template.html.twig" as helper %}
{% import "macros/video.html.twig" as video %}
{% import "macros/image.html.twig" as image %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{{ '/assets/css/exposition.css'|addStyle('styles') }}
{{ 'containers/channels/exposition/exposition.js.twig'|addScript('beforeBodyEnd') }}

{#
{{ dump(model.type) }}
{{ dump(model.metadata.type) }}
{{ dump(model.metadata) }}
#}

<header class="header header--{{ model.type }}"{{ helper.container_id_attribute(frontender, "frontender")|raw }}>

    {% if model.type in ['video', 'file'] %}
        <div class="header-cover">
            {{ video.hero(model) }}
        </div>
    {% else %}
        <div class="header-cover">
            {{ image.spread(model, "image image--spread") }}
        </div>
    {% endif %}

    <div class="header-overlay">
        <div class="header-title">
            <div class="header__title" {% if query.fromFrontender %} style="position: absolute;"{% endif %}>
                <img class="header__crest" src="/assets/images/cover-illustrations/year-symbol-2018.png" alt="A year in review 2018" width="114" height="114">
                <h2 class="sub-heading  |  gutters-outside">{{ labels.container_subtitle|t(locales) }}</h2>
                <h1 class="heading  |  gutters-outside">{{ labels.container_title|t(locales) }}</h1>
            </div>
            <div class="header__caption">
                <span class="image-caption gutters">©CTA</span>
            </div>
        </div>
    </div>
    
    <div class="header-brand leader-inside--hero wings">
        <a href="/">
            <figure class="brand--cta"><figcaption class="is-narrative">CTA Homepage</figcaption></figure>
         </a>
    </div>

    {% if config.show_exposition_menu %}
        {% include("containers/experience-capitalization/menu/menu.html.twig") %}
    {% endif %}
</header>
