{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<div class="{{ ["layout", config.container_class]|join("  |  ") }}">
    <div class="layout__cell  layout__cell--main  |  gutters">
        <div class="gutter">
            <p class="lead  |  trailer  |  gutter">{{ labels.lead|t(locales) }}</p>
            <p class="trailer  |  gutter">{{ labels.body|t(locales)|raw }}</p>
        </div>
    </div>
    <aside class="layout__cell layout__cell--aside layout__cell--aside--l  |  gutters">
        <h2 class="title  |  trailer--tiny">{{ 'key focus areas'|t(locales) }}</h2>
        <p class="body--whisper  |  trailer trailer--small">{{ 'Smarter agri-food systems: more productive, more integrated, less wasteful and more profitable, inclusive and sustainable.'|t(locales) }}</p>
        <ul class="reset  | list  list--theme">
            <li>{{ 'Increasing youth employment'|t(locales) }}</li>
            <li>{{ 'Job creation'|t(locales) }}</li>
            <li>{{ 'Incomes'|t(locales) }}</li>
            <li>{{ 'Access to markets for small holder producers and SMEs'|t(locales) }}</li>
        </ul>
    </aside>
</div>
