{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'ctx-item__region')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="fld">
        <label for="ctx-item__date" class="fld-label">{{ labels.field_label|t(locales)|default('Region'|i18n) }}</label>
        <select id="ctx-item__date" name="scope" class="placeholder-visible">
            <option value="">{{ 'Any'|i18n }}</option>
            <option value="cta"{% if query.scope == 'cta' %} selected="selected" {% endif %}>{{ 'CTA'|i18n }}</option>
            <option value="spore"{% if query.scope == 'spore' %} selected="selected" {% endif %}>{{ 'Spore'|i18n }}</option>
            <option value="ictupdate"{% if query.scope == 'ictupdate' %} selected="selected" {% endif %}>{{ 'ICT Update'|i18n }}</option>
        </select>
    </div>
</{{ config.container_tag|default('div') }}>
