{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'ctx-item__content-type  |  ctx-item__date')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="fld">
        <label for="ctx-item__article" class="fld-label">{{ labels.field_label|t(locales)|default('Type'|i18n) }}</label>
        <select id="ctx-item__article" name="type" class="placeholder-visible">
            <option value="">{{ 'All'|i18n }}</option>
            <optgroup label="{{ 'Articles'|i18n }}">
                {% include 'partials/search-fields/article-type__options.html.twig'%}
            </optgroup>
            <optgroup label="{{ 'Opportunities'|t(locales) }}">
                {% include 'partials/search-fields/opportunity-type__options.html.twig'%}
            </optgroup>
            <optgroup label="{{ 'Events'|t(locales) }}">
                {% include 'partials/search-fields/event-type__options.html.twig'%}
            </optgroup>
        </select>
    </div>
</{{ config.container_tag|default('div') }}>
