{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<option {% if config.selected == 'event.Conference' or query.type == 'event.Conference' %}selected="selected" {% endif %} value="event.Conference">{{ 'Conferences'|i18n }}</option>
<option {% if config.selected == 'event.Workshop' or query.type == 'event.Workshop' %}selected="selected" {% endif %} value="event.Workshop">{{ 'Workshops'|i18n }}</option>
<option {% if config.selected == 'event.Seminar' or query.type == 'event.Seminar' %}selected="selected" {% endif %} value="event.Seminar">{{ 'Seminars'|i18n }}</option>
<option {% if config.selected == 'event.Training (online)' or query.event.type == 'Training (online)' %}selected="selected" {% endif %} value="event.Trainings (online)">{{ 'Training (online)'|i18n }}</option>
<option {% if config.selected == 'event.Training' or query.type == 'event.Training' %}selected="selected" {% endif %} value="event.Training">{{ 'Trainings'|i18n }}</option>
<option {% if config.selected == 'event.Briefing' or query.type == 'event.Briefing' %}selected="selected" {% endif %} value="event.Briefing">{{ 'Briefings'|i18n }}</option>
<option {% if config.selected == 'event.Meeting' or query.type == 'event.Meeting' %}selected="selected" {% endif %} value="event.Meeting">{{ 'Meetings'|i18n }}</option>
<option {% if config.selected == 'event.Hackathon' or query.type == 'event.Hackathon' %}selected="selected" {% endif %} value="event.Hackathon">{{ 'Hackathons'|i18n }}</option>
<option {% if config.selected == 'event.Forum' or query.type == 'event.Forum' %}selected="selected" {% endif %} value="event.Forum">{{ 'Forums'|i18n }}</option>
<option {% if config.selected == 'event.Field visit' or query.type == 'event.Field visit' %}selected="selected" {% endif %} value="event.Field visit">{{ 'Field visits'|i18n }}</option>
<option {% if config.selected == 'event.Project' or query.type == 'event.Project' %}selected="selected" {% endif %} value="event.Project">{{ 'Projects'|i18n }}</option>
<option {% if config.selected == 'event.Other' or query.type == 'event.Other' %}selected="selected" {% endif %} value="event.Other">{{ 'Other'|i18n }}</option>
