{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'ctx-item__location')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="fld">
        <label for="ctx-item__country" class="fld-label">{{ labels.field_label|t(locales)|default('Country'|i18n) }}</label>
        <select id="ctx-item__country" name="location" class="placeholder-visible">
            <option value="">{{ 'All'|i18n }}</option>
            <optgroup label="{{ 'Regions'|i18n }}">
                {% include 'partials/search-fields/region__options.html.twig' with {model: article} %}
            </optgroup>
            {% if countries|length %}
                <optgroup label="{{ 'Countries'|i18n }}">
                    {% for country in countries|sortArray('countryName') %}
                        <option {% if query.location and country.geonameId == query.location %} selected="selected" {% endif %} value="{{ country.geonameId }}">{{ country.countryName }}</option>
                    {% endfor %}
                </optgroup>
            {% endif %}
        </select>
    </div>
</{{ config.container_tag|default('div') }}>
