{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'ctx-item__topic')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="fld">
        <label for="ctx-item__topic" class="fld-label">{{ labels.field_label|t(locales)|default('Topic'|i18n) }}</label>
        <select id="ctx-item__topic" name="concepts[]" multiple="multiple" class="placeholder-visible">
            <option value="">{{ 'Any'|i18n }}</option>
            {% for concept in terms %}
                <option  {% if concept._id in query.concepts %} selected="selected" {% endif %} value="{{ concept._id }}">{{ concept.label|t(locales) }}</option>
            {% endfor %}
        </select>
    </div>
</{{ config.container_tag|default('div') }}>
