{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'ctx-item__date')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="fld">
        <label for="ctx-item__date" class="fld-label">{{ labels.field_label|t(locales)|default('Region'|t(locales)) }}</label>
        <select id="ctx-item__date" name="upcoming" class="placeholder-visible">
            <option value="">{{ 'All'|t(locales) }}</option>
            <option value="true" {% if config.selected == true or query.upcoming == "true" %}selected="selected" {% endif %}>{{ 'Upcoming'|t(locales) }}</option>
            <option value="false" {% if config.selected == false or query.upcoming == "false" %}selected="selected" {% endif %}>{{ 'Passed'|t(locales) }}</option>
        </select>
    </div>
</{{ config.container_tag|default('div') }}>
