{% if model.issues|length > 0 %}
    {% import "macros/template.html.twig" as helper %}
    {% import "macros/date.html.twig" as date %}
    {% import "macros/image.html.twig" as image %}
    {% import "macros/label.html.twig" as label %}
    {% import "macros/file.html.twig" as file %}
    {% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}
    {{ 'containers/events/outputs/outputs.js.twig'|addScript('beforeBodyEnd') }}

    <{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, '')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
        <h2 class="title title--container  |  wings  |  trailer">
            <span class="gutters">{{ content.title|t(locales)|default('Section title') }}</span>
        </h2>
        <div class="grid grid--teletubbies wings" style="justify-content: flex-end;">
            {% for article in model.outputs %}
                <article class="grid__cell publication-tile publication-tile--fold media media--cover leader--normal trailer--normal">
                    <div class="publication-tile__cover media__figure gutters">
                        <figure class="publication-cover">
                            <a href="{{ route({'page': article.path, 'slug': article.headline|t(locales)|slugify, 'id': article._id}) }}">
                                {{ image.contentBlock_cover(article.contentBlocks|filterArray('subtype', 'image'), "publication-cover__image") }}
                            </a>
                        </figure>
                    </div>
                    <div class="publication-tile__body media__body gutters leader-inside--normal trailer-inside--normal">
                        <h2 class="heading">{{ article.headline|t(locales) }}</h2>
                        {% if config.show_publication|default(1) %}
                            <p class="leader-inside--normal">{{ date.issue_date(article.datePublished) }}</p>
                        {% endif %}
                        {% if article.externalLink %}
                            <div class="leader--normal">
                                {% for link in article.externalLink %}
                                    <a class="publication-download publication-download--s trailer--tiny" href="{{ link.url }}">
                                        <span class="publication-download__item">{{ link.name }}</span>
                                        {% if link.url|getFileSize %}
                                            <span class="publication-download__item">{{ link.url|getFileSize }}</span>
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </article>

            {% endfor %}
        </div>
    </{{ config.container_tag|default('div') }}>
{% endif %}
