{% import "macros/template.html.twig" as helper %}
{% import "macros/author.html.twig" as author %}
{{ 'containers/spore/dossier/dossier.js.twig'|addScript('beforeBodyEnd') }}

{% set locales = {'en-GB': 'en', 'fr-FR': 'fr'} %}

<div class="layout trailer-inside--small">
    <div class="layout__cell layout__cell--aside  |  wing--left">
        <div class="trailer  |  post post--hero  |  gutter--right">
            <h2 class="heading heading--tile  |  gutters gutter-hero--right">Scaling: A high priority for agriculture</h2>
            <p class="post__intro  |  gutters gutter-hero--right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="layout__cell">
        <div class="layout layout--split">
            <div class="layout__cell  |  gutters">
                <!-- Switch image based on active article -->
                {% for article in model.articles|slice(0, 3) %}
                    <img data-dossier-image="{{ article._id }}" class="is-inactive" src="{{ article.lead_image.metadata.url }}" alt="{{ article.headline|t }}">
                {% endfor %}
            </div>
            <div class="layout__cell layout__cell--aside  |  wing--right">
                <ul class="reset  |  dossier">
                    <!-- Set .is-active or .is-current on active/current article -->
                    {% for article in model.articles|slice(0, 3) %}
                        <li class="dossier__item  |  divider divider--bottom  |  trailer trailer-inside  |  gutters" data-image-id="{{ article._id }}">
                            <p class="meta">{{ article.articleType}} </p>
                            <a class="is-heir" href="{{ route({page: article.path, slug: article.headline|t|slugify, id: article._id}) }}">
                                <h3 class="heading heading--tile  |  leader--small  |  trailer--small">{{ article.headline|t }}</h3>
                            </a>
                            {% if article.link.person.author|length %}
                                <p>{{ author.single(article.link.person.author) }}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
