{% if model|length %}
    {% import "macros/template.html.twig" as helper %}
    <{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, '')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <h3 class="title title--section  |  trailer--normal">{{ 'Partners'|t(locales) }}</h3>
        {% if model.sponsor | length > 0 %}
            <h4 class="title  |  meta  |  trailer--normal">{{ 'Funding partners'|t(locales) }}</h4>
            {% for sponsor in model.sponsor %}
                {% set sponsorDisplayname = sponsor.alternateName|t(locales) != '' ? sponsor.alternateName|t(locales) : sponsor.name|t(locales) %}
                <ul class="reset">
                    <li>
                        {% if sponsor.website|length > 0 %}
                            <a href="{{ sponsor.website }}" target="_blank">{{ sponsorDisplayname }}</a>
                        {% else %}
                            <p>{{ sponsorDisplayname }}</p>
                        {% endif %}
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
        {% if model.organizer | length > 0 %}
            <h4 class="title  |  meta  |  trailer--normal  |  leader">{{ 'Implementing partners'|t(locales) }}</h4>
            <ul class="reset">
            {% for organizer in model.organizer %}
                {% set organizerDisplayname = organizer.alternateName|t(locales) != '' ? organizer.alternateName|t(locales) : organizer.name|t(locales) %}
                <li>
                    {% if organizer.website|length > 0 %}
                        <a href="{{ organizer.website }}" target="_blank">{{ organizerDisplayname }}</a>
                    {% else %}
                        <p>{{ organizerDisplayname }}</p>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </{{ config.container_tag|default('div') }}>
{% endif %}