{% if model|length %}
    {% import "macros/template.html.twig" as helper %}
    <{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, '')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    {% if labels.title|t(locales)|length %}
        <h3 class="title title--section  |  trailer--normal">{{ labels.title|t(locales) }}</h3>
    {% endif %}
        {% if model.sponsor | length > 0 %}
            <h4 class="title  |  meta  |  trailer--normal">{{ labels.sponsor_title|t(locales) }}</h4>
            <ul class="reset" itemscope itemprop="sponsor">
                {% for sponsor in model.sponsor %}
                    {% set sponsorDisplayname = sponsor.alternateName|t(locales) != '' ? sponsor.alternateName|t(locales) : sponsor.name|t(locales) %}
                    <li itemscope itemtype="https://schema.org/Organization">
                        {% if sponsor.website|length > 0 %}
                            <a href="{{ sponsor.website }}" target="_blank" itemprop="url">
                                <span itemprop="name">{{ sponsorDisplayname }}</span>
                            </a>
                        {% else %}
                            <p itemprop="name">{{ sponsorDisplayname }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if model.organizer | length > 0 %}
            <h4 class="title  |  meta  |  trailer--normal  |  leader">{{ labels.partner_title|t(locales) }}</h4>
            <ul class="reset" itemscope itemprop="organizer">
            {% for organizer in model.organizer %}
                {% set organizerDisplayname = organizer.alternateName|t(locales) != '' ? organizer.alternateName|t(locales) : organizer.name|t(locales) %}
                <li itemscope itemtype="https://schema.org/Organization">
                    {% if organizer.website|length > 0 %}
                        <a href="{{ organizer.website }}" target="_blank" itemprop="url">
                            <span itemprop="name">{{ organizerDisplayname }}</span>
                        </a>
                    {% else %}
                        <p itemprop="name">{{ organizerDisplayname }}</p>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </{{ config.container_tag|default('div') }}>
{% endif %}
