{% import "macros/share.html.twig" as share %}
{% import "macros/concept.html.twig" as concept %}
{% import "macros/image.html.twig" as image %}
{% import "macros/author.html.twig" as author %}
{% import "macros/date.html.twig" as date %}
{% import "macros/template.html.twig" as helper %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{{ hashedPath('/assets/css/press.css')|addStyle('styles') }}
{{'containers/articles/body/print/champion.html.twig'|addStyle('styles') }}

<{{ config.container_tag|default('div') }}{{ helper.class_attribute(config, 'layout layout--split article--issue')|raw }}{{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
    <div class="post-body layout__cell layout__cell--main wings leader-inside--hero trailer-inside--hero layout__cell--divider-outside">

        {% if model.about %}
            <p class="gutters  |  paragraph--lead" itemprop="about">{{ model.about|striptags('<strong><em><u><a><sub><sup>')|raw }}</p>
        {% endif %}

        {# render the content blocks - if the first block is a list, we treat it as the article takeaways #}
        {% for i, contentBlock in model.contentBlocks %}
            {% if show_take_aways|default(1) and i == 0  and contentBlock.type == 'list'%}
                <div class="gutters  |  leader leader-inside--tiny  |  trailer">
                    {% include 'partials/content-blocks/' ~ contentBlock.type ~ '-takeaways.html.twig' with {'content': contentBlock} %}
                </div>
            {% elseif contentBlock.type == 'media' %}
            {% else %}
                {% include 'partials/content-blocks/' ~ contentBlock.type ~ '-' ~ contentBlock.subtype|default('raw') ~ '.html.twig' with {'contentBlock': contentBlock} %}
            {% endif %}
        {% endfor %}

        {% if model.analysis.agrovoc.concepts %}
            <div class="gutters  |  trailer  |  leader">
                <ul class="reset  |  tag-list  |  list--inline">
                    {% for label in model.analysis.agrovoc.concepts|slice(0, 20) %}
                        <li>{{ concept.tag(label, locale) }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="well  |  gutters-outside  |  leader  |  trailer  |  is-lt-small-desktop">
            {{ share.bar_article(model) }}
        </div>
    </div>
    <div class="layout__cell layout__cell--aside  leader-inside--hero trailer-inside--hero wings is-screen">
        {% set similar_issues = model.similar.issues({'limit': 4, 'label': 'strategy'}) %}
        {% if similar_issues|length > 0 %}
            <aside class="trailer">
                <h2 class="title trailer-inside--normal gutters">{{ 'related_publications'|i18n }}</h2>
                {% for issue in similar_issues %}
                    <article class="publication-tile publication-tile--s media leader--normal trailer--normal">
                        <div class="publication-tile__cover media__figure gutters">
                            <figure class="publication-cover publication-cover--s">
                                <a href="{{ route({'page': issue.path, 'slug': issue.headline|t(locales)|slugify, 'id': issue._id}) }}">
                                    {{ image.contentBlock_cover(issue.contentBlocks|filterArray('subtype', 'image'), "publication-cover__image") }}
                                </a>
                            </figure>
                        </div>
                        <div class="media__body  gutters">
                            {% if config.show_publication|default(1) %}
                                <p class="trailer-inside--tiny">{{ date.issue_date(issue.datePublished) }}</p>
                            {% endif %}
                            <h2 class="heading">
                                <a class="is-heir" href="{{ route({'page': issue.path, 'slug': issue.headline|t(locales)|slugify, 'id': issue._id}) }}">
                                    {{ issue.headline|t(locales) }}
                                </a>
                            </h2>
                            {% if config.show_author_name|default(1) and issue.link.person.author|length %}
                                <p class="author leader--tiny">
                                    {{ author.long(issue.link.person.author) }}
                                </p>
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </aside>
        {% elseif model.related.articles|length > 0 %}
            <aside class="trailer">
                <h2 class="title trailer-inside--normal gutters">{{ 'read more'|i18n }}</h2>
                <div class="grid gutters">
                    {% for article in model.issue.articles %}
                        {% if article.headline|t(locales) %}
                            <article class="leader">
                                {% include 'partials/article/post-row.html.twig' with {model: article, config: {
                                    show_stand_first: 1,
                                    show_read_more: 1,
                                    show_type: 0,
                                    show_lead_image: 1,
                                    show_publication: 0
                                }} %}
                            </article>
                        {% endif %}
            		{% endfor %}
                </div>
            </aside>
        {% endif %}
    </div>
</{{ config.container_tag|default('div') }}>
