{% import "macros/share.html.twig" as share %}
{% import "macros/concept.html.twig" as concept %}
{% import "macros/author.html.twig" as author %}
{% import "macros/location.html.twig" as location %}
{% import "macros/image.html.twig" as image %}
{% import "macros/template.html.twig" as helper %}
{% import "macros/label.html.twig" as label %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

<div class="layout layout--reverse post-body" {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
    <div class="layout__cell layout__cell--main">
        <div class="layout">
            <div class="layout__cell layout__cell--main  |  trailer--hero">

                <div class="social__share  |  trailer  |  gutters">
                    {{ share.bar_article(model, true) }}
                </div>

                <footer class="gutters  |  trailer--hero">
                    {# todo link to view with all similar article.articleTypes #}
                    {% if model.datePublished %}
                        <p class="meta" itemprop="datePublished">
                            {{ model.datePublished|tdate('%A, %e %B %Y') }} {% if model.issue %}{{ 'in'|i18n(locales) }}
                            <a href="{{ route({'page': model.path, 'slug': model.issue.headline|t(locales)|slugify, 'id': model.issue._id}) }}">{{ model.issue.headline|t(locales) }}</a>.{% endif %}</p>
                    {% endif %}
                    {% if model.link.person.author %}
                        <div class="media__content  |  body--whisper  |  leader--tiny">
                            {{ author.long(model.link.person.author) }}
                        </div>
                    {% else %}
                        <span itemprop="author" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="{{ {en: 'Technical Centre for Agricultural and Rural Cooperation', fr: 'Le Centre technique de coopération agricole et rurale'}|t(locales) }}" />
                        </span>
                    {% endif %}
                </footer>

                {% if model.theme %}
                    <p class="title title--section  |  gutters  |  leader leader-inside--tiny  |  trailer"><strong>{{ label.theme_to_string(model.theme) }}</strong></p>
                {% endif %}

                <div class="post-anchor  |  clear">
                    {% if model.about %}
                        <p class="gutters  |  paragraph--lead" itemprop="about">{{ model.about|striptags('<strong><em><u><a><sub><sup>')|raw }}
                    {% endif %}

                    {# render the content blocks - if the first block is a list,
                    we treat it as the article takeaways #}
                    <div itemprop="articleBody">
                        {% for i, contentBlock in model.contentBlocks %}
                            {% if show_take_aways|default(1) and i == 0  and contentBlock.type == 'list'%}
                                <div class="gutters  |  leader leader-inside--tiny  |  trailer">
                                    {% include 'partials/content-blocks/' ~ contentBlock.type ~ '-takeaways.html.twig' with {'content': contentBlock} %}
                                </div>
                            {% else %}
                                {% include 'partials/content-blocks/' ~ contentBlock.type ~ '-' ~ contentBlock.subtype|default('raw') ~ '.html.twig' with {'content': contentBlock} %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                {% if model.analysis.agrovoc.concepts %}
                    <div class="gutters  |  trailer  |  leader">
                        <ul class="reset  |  tag-list  |  list--inline">
                            {% for label in model.analysis.agrovoc.concepts|slice(0, 20) %}
                                <li>{{ concept.tag(label, locale) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="well  |  leader  |  trailer  |  is-gt-small-desktop">
                    <div class="gutters">
                        {{ share.bar_article(model) }}
                    </div>
                </div>

                {% set ctaOrg = model.link.organization.sourceOrganization|filterCTA %}
                {% if ctaOrg %}
                    <aside itemprop="publisher" itemscope itemtype="https://schema.org/Organization" class="well well--neutral  |  gutters-outside  |  leader leader-inside--normal  |   trailer trailer-inside--normal">
                        <h2 itemprop="name" class="title title--apropos  |  leader--small  |  trailer--small  |  gutters">{{ 'About'|i18n(locales) }} {{ ctaOrg.name|t(locales) }}</h2>

                        {% if ctaOrg.description %}
                            <p itemprop="description" class="body--whisper  |  trailer--small  |  gutters">{{ ctaOrg.description|t(locales) }}</p>
                        {% endif %}
                    </aside>
                {% else %}
                    <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                        <meta itemprop="name" content="{{ {en: 'Technical Centre for Agricultural and Rural Cooperation', fr: 'Le Centre technique de coopération agricole et rurale'}|t(locales) }}" />
                        <meta itemprop="logo" content="https://res.cloudinary.com/cta/image/upload/v1494444431/wa0ucd786gupcci4cxqx.png">
                    </span>
                {% endif %}

                <aside class="gutters-outside  |  divider divider--top  |  leader--hero leader-inside--small">
                    <h2 class="title title--sub-section  |  leader--small  |  trailer--small">{{ 'disclaimer'|i18n(locales) }}</h2>
                    <p class="body--quiet">{{ 'disclaimer_text'|i18n(locales) }}</p>
                </aside>

                {% if model.bibliographicalReferences|t(locales)|length > 0 or model.footnotes|length > 0 %}
                    <div class="media  |  leader--hero">


                        {% if model.bibliographicalReferences|length > 0 %}
                            <section class="media__body  |  gutters">
                                <h2 class="title title--sub-section">{{ 'bibliographical references'|i18n(locales) }}</h2>
                                {% for reference in model.bibliographicalReferences %}
                                    <div class="leader  |  trailer">
                                        <p class="meta meta--lowercase">{{ reference.name }}</p>
                                        <a href="{{ reference.url }}" class="body--quiet" target="_blank">{{ 'view_reference'|i18n(locales) }}</a>
                                    </div>
                                {% endfor %}
                            </section>
                        {% endif %}
                        {% if model.footnotes|length > 0 %}
                            <section class="media__body  |  gutters">
                                <h2 class="title title--sub-section  |  trailer">{{ 'footnotes'|i18n(locales) }}</h2>

                                {{ model.footnotes.content|raw }}
                            </section>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="layout__cell layout__cell--aside  |  wings">
                {% if show_digital_identifier|default(1) or show_publisher|default(1) %}
                    {% if model.isbn %}
                        <dl class="meta  |  trailer--hero  |  gutters">
                            <dt><strong>{{ 'ISBN'|i18n(locales) }}:</strong></dt>
                            <dl itemprop="identifier">{{ model.isbn }}</dl>

                            {% if model.link.organization.sourceOrganization|length > 0 %}
                                <dt class="leader--small leader-inside--tiny"><strong>{{ 'Publisher'|i18n(locales) }}:</strong></dt>
                                {% for organization in model.link.organization.sourceOrganization %}
                                    <dl>{{ organization.name|t(locales) }}</dl>
                                {% endfor %}
                            {% endif %}
                        </dl>
                    {% endif %}
                {% endif %}

                {% if show_partners|default(1) and model.link.organization.partnerOrganization|length > 0 %}
                    <section class="trailer--hero  |  gutters">
                        <h2 class="title title--apropos">{{ 'Partners'|i18n(locales) }}</h2>
                        <ul class="reset">
                            {% for organization in model.link.organization.partnerOrganization %}
                                <li itemscope itemtype="https://schema.org/Organization" class="leader--small">{{ organization.alternateName ? organization.alternateName|t(locales) : organization.name|t(locales) }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}

                {% if show_internal_links|default(1) and model.internalLink|length > 0 %}
                    <section class="trailer--hero  |  gutters">
                        <h2 class="title title--apropos  |  trailer--small">{{ 'Internal links'|i18n(locales) }}</h2>
                        {% for link in model.internalLink %}
                            <a href="{{ link.url }}">{{ link.name }}</a>
                        {% endfor %}
                    </section>
                {% endif %}

                {% if show_external_links|default(1) and model.externalLink|length > 0  %}
                    <section class="trailer--hero  |  gutters">
                        <h2 class="title title--apropos  |  trailer--small">{{ 'External links'|i18n(locales) }}</h2>
                        {% for link in model.externalLink %}
                            {% include 'partials/icon-link.html.twig' with {link: link} %}
                        {% endfor %}
                    </section>
                {% endif %}

                {% if show_downloads|default(1) and model.link.mediaObject|findType('file')|length > 0 %}
                    <section class="trailer--hero  |  gutters">
                        <h2 itemprop="associatedMedia" class="title title--apropos  |  trailer--small">{{ 'Downloads'|i18n(locales) }}</h2>

                        {% for file in model.link.mediaObject|findType('file') %}
                            {% include 'partials/download.html.twig' with {file: file} %}
                        {% endfor %}
                    </section>
                {% endif %}
                <div class="well  |  gutters-outside  |  leader  |  trailer  |  is-lt-small-desktop">
                    {{ share.bar_article(article) }}
                </div>
            </div>
        </div>
    </div>
    <div class="layout__cell layout__cell--aside  |  wings">
        {% set similar_issues = model.similar.issues({'limit': config.publication_limit|default('3'), 'label': 'strategy'}) %}
        {% if similar_issues|length > 0 %}
            <aside class="trailer">
                <h2 class="title trailer-inside--normal gutters">{{ content.related_headline|t(locales)|default('related_publications'|i18n) }}</h2>
                {% for issue in similar_issues %}
                    {% set issue_route = route({'page': issue.path, 'slug': issue.headline|t(locales)|slugify, 'id': issue._id}) %}
                    <article class="publication-tile media leader--normal trailer--normal">
                        <div class="publication-tile__cover media__figure gutters">
                            <figure class="publication-cover">
                                <a href="{{ issue_route }}">
                                    {{ image.contentBlock_cover(issue.contentBlocks|filterArray('subtype', 'image'), "publication-cover__image") }}
                                </a>
                            </figure>
                        </div>
                        <div class="media__body">
                            {% if config.show_publication|default(1) %}
                                <p class="trailer-inside--tiny">{{ date.issue_date(issue.datePublished) }}</p>
                            {% endif %}
                            <h2 class="heading">
                                <a class="is-heir" href="{{ issue_route }}">
                                    {{ issue.headline|t(locales) }}
                                </a>
                            </h2>
                            {% if config.show_author_name|default(1) and issue.link.person.author|length %}
                                <p class="author leader--tiny">
                                    {{ author.long(issue.link.person.author) }}
                                </p>
                            {% endif %}
                        </div>
                    </article>
                    {% if issue.externalLink|length > 0 %}
                        <div class="trailer  |  gutters" itemprop="associatedMedia">
                            {% for link in issue.externalLink %}
                                <a class="publication-download publication-download--s trailer--tiny" href="{{ link.url }}" itemscope itemprop="url" itemtype="https://schema.org/MediaObject">
                                    <span class="publication-download__item" itemprop="name">{{ link.name }}</span>
                                    {% if link.url|getFileSize %}
                                        <span class="publication-download__item" itemprop="contentSize">{{ link.url|getFileSize }}</span>
                                    {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </aside>
        {% endif %}

        {% if model.analysis.geoname.geonames|locationSpecific %}
            <div class="mini-map  |  well well--neutral  |  gutters-outside  |  trailer--hero">
                <div class="mini-map__map" itemprop="hasMap">
                    <div id="map" style="height: 250px;" itemprop="map"></div>
                    {{ location.map(model.analysis.geoname.geonames|locationSpecific, "#map") }}
                </div>
                <div class="mini-map__asset  |  divider divider--inverse divider--top  |  gutters  |  trailer-inside--small  |  leader-inside--small">
                    {% include "partials/location.html.twig" with {location: model.analysis.geoname.geonames|locationSpecific} %}
                </div>
            </div>
        {% endif %}

        {% if model.link.person.author|filterArray('description', null)|length > 0 %}
            <aside class="trailer--hero">
                {% if model.link.person.author|filterArray('familyName', null)|length > 1 %}
                    <h2 class="title  |  trailer--normal  |  gutters">{{ 'authors'|i18n(locales) }}</h2>
                {% else %}
                    <h2 class="title  |  trailer--normal  |  gutters">{{ 'author'|i18n(locales) }}</h2>
                {% endif %}
                {% for auth in model.link.person.author|filterArray('familyName', null) %}
                    <div itemprop="author" itemscope itemtype="https://schema.org/Person" class="media  |  leader--normal  |  trailer--normal">
                        <div class="media__figure  |  gutters">
                            {{ image.person(auth, 50) }}
                        </div>
                        <div class="media__body  |  gutter--right  |  body--whisper">
                            <p class="meta--bold  |  trailer--tiny" itemprop="name">{{ auth.givenName ~ ' ' ~ auth.familyName}}</p>
                            {% if auth.description %}
                                <p itemprop="description">{{ auth.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </aside>
        {% endif %}

        {% if model.link.organization.sourceOrganization|filterCTA(false)|length > 0 %}
            {% for organization in model.link.organization.sourceOrganization|filterCTA(false) %}
                {% if organization.description %}
                    <aside class="trailer--hero" itemscope itemtype="https://schema.org/sourceOrganization">
                        <h1 class="title title--apropos  |  trailer--small  |  gutters">{{ 'About'|i18n(locales) }} <span itemtype="http://schema.org/Organization">{{ organization.name|t(locales) }}</span></h1>
                        <p class="body--whisper  |  gutters" itemprop="description">
                            {{ organization.description|t(locales) }}
                        </p>
                    </aside>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
