{% import "macros/share.html.twig" as share %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{{'containers/articles/body/print/champion.html.twig'|addStyle('styles') }}

<div class="layout layout--reverse post-body">
    <div class="layout__cell layout__cell--main  |  leader-inside--hero  |  trailer-inside--hero">
        <div class="layout">
            <div class="layout__cell layout__cell--main  |  trailer">

                <div class="social__share  |  trailer  |  gutters">
                    {{ share.bar_article_linkedin(model, true) }}
                </div>

                <footer class="gutters  |  trailer--hero">
                    <p class="meta">{{ 'published on'|i18n }} {{ model.datePublished|tdate('%A, %e %B %Y') }}.</p>
                </footer>

                <div>
                    {% if model.about %}
                        <p class="gutters  |  paragraph--lead">{{ model.about|striptags('<strong><em><u><a><sub><sup>')|raw }}
                    {% endif %}

                    {# render the content blocks - if the first block is a list,
                    we treat it as the article takeaways #}
                    {% for i, contentBlock in model.contentBlocks %}
                        {% if show_take_aways|default(1) and i == 0  and contentBlock.type == 'list'%}
                            <div class="gutters  |  leader leader-inside--tiny  |  trailer">
                                {% include 'partials/content-blocks/' ~ contentBlock.type ~ '-takeaways.html.twig' with {'content': contentBlock} %}
                            </div>
                        {% else %}
                            {% include 'partials/content-blocks/' ~ contentBlock.type ~ '-' ~ contentBlock.subtype|default('raw') ~ '.html.twig' with {'content': contentBlock} %}
                        {% endif %}
                    {% endfor %}
                </div>

               <div class="well  |  leader  |  trailer  |  is-gt-small-desktop">
                    <div class="gutters">
                        {{ share.bar_article_linkedin(model) }}
                    </div>
                </div>

            </div>
            <div class="layout__cell layout__cell--aside |  wings">

                {% if model.procurementStatus %}
                    <div class="gutters  |  trailer">
                        <span class="stamp stamp--{{ model.procurementStatus }}">
                            <span class="stamp__body">{{ model.procurementStatus|t(locales) }}</span>
                        </span>
                    </div>
                {% endif %}

                <dl class="meta  |  trailer--hero  |  gutters">
                    {% if model.procurementEndDate %}
                    <dt><strong>{{ labels.procurementEndDate|default('Closing date for application')|i18n }}:</strong></dt>
                    <dd class="trailer--small">
                        {{ model.procurementEndDate|tdate('%e %B %Y') }} {{ model.procurementEndDisplay|t(locales) }}
                    </dd>
                    {% endif %}
                    {% if model.procurementType %}
                        <dt><strong>{{ labels.procurementType|default('type of contract')|i18n }}:</strong></dt>
                        <dd class="trailer--small">{{ model.procurementType|t(locales) }}</dd>
                    {% endif %}
                    {% if model.link.organization.sourceOrganization|length > 0 %}
                        <dt><strong>{{ 'Location'|i18n }}:</strong></dt>
                        <dd class="trailer--small">{{ model.link.organization.sourceOrganization|first.location.address.addressLocality ~ ', ' ~ model.link.organization.sourceOrganization|first.location.address.addressCountry }}</dd>
                    {% endif %}
                </dl>

                {% if model.link.mediaObject|findType('file')|length > 0 %}
                    <section class="trailer trailer-inside--small  |  gutters |  is-screen">
                        <h2 class="title title--apropos  |  trailer--normal">{{ 'Downloads'|i18n }}</h2>

                        {% for file in model.link.mediaObject|findType('file') %}
                            {% include 'partials/download.html.twig' with {file: file} %}
                        {% endfor %}
                    </section>
                {% endif %}

                <div class="well  |  leader  |  trailer  |  is-lt-small-desktop">
                    <div class="gutters">
                        {{ share.bar_article_linkedin(model) }}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="layout__cell layout__cell--aside layout__cell--divider  |  wings  |  leader-inside--hero  |  trailer-inside--hero |  is-screen">

        <aside>
            {% for loopContainer in containers %}
                {% include loopContainer.template with loopContainer %}
            {% endfor %}
        </aside>

    </div>
</div>
