{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{{ '/assets/css/exposition.css'|addStyle('styles') }}
{{ 'containers/channels/exposition/exposition.js.twig'|addScript('beforeBodyEnd') }}
<{{ config.container_tag|default('div') }} {{ helper.class_attribute(config, 'wings  |  no-overflow  |  keys-figures  |  exposition-wrapper')|raw }} id="section1" {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
    <div class="section section--hidden  |  gutter-outside--right">
        <p class="section-number">1</p>
    </div>
    <h2 class="heading  |  section-heading  |  gutters  |  keys-header">{{ labels.title|t(locales) }}</h2>
    <div class="keys  |  leader-inside--hero">
        <div class="keys-row">
            <div class="keys-fact keys--has-icon keys-bleed  |  is-root  |  gutters--double">
                <p class="statistic">29</p>
                <p class="lead-paragraph  |  leader--small">entrepreneurs have received training in drone operation and service delivery as part of the Eyes in the Sky project, across 14 countries.</p>
                <div class="keys-illustration  |  gutters">
                    <img src="/assets/images/illustrations/crops.png" alt="crops" />
                </div>
            </div>
            <div class="keys-fact keys--has-icon  |  is-root  |  gutters--double">
                <p class="statistic">400</p>
                <p class="lead-paragraph  |  leader--small">high-level participants attended 4 Brussels Briefings events.</p>
                <div class="keys-illustration  |  gutters--double">
                    <img src="/assets/images/illustrations/farm2.png" alt="farm" />
                </div>
            </div>
            <div class="keys-fact  |  gutters--double">
                <p class="statistic">50</p>
                <p class="lead-paragraph  |  leader--small">cooperatives and their members in Cameroon and DRC have been trained in good governance and leadership as part of the Manioc 21 programme.</p>
            </div>
        </div>
        <div class="keys-row">
            <div class="keys-fact  |  gutters--double">
                <p class="statistic">23,000</p>
                <p class="lead-paragraph  |  leader--small">farmers in Swaziland,</p>
                <p class="statistic statistic--s">52,000</p>
                <p class="lead-paragraph  |  leader--small">in Lesotho, and</p>
                <p class="statistic statistic--s">11,298</p>
                <p class="lead-paragraph  |  leader--small">in Uganda were registered with the Data4Ag project, which aims to improve their access to inputs, crop husbandry advice and markets.</p>
            </div>
            <div class="keys-fact keys--has-icon  |  is-root  |  gutters--double">
                <p class="statistic">3</p>
                <p class="lead-paragraph  |  leader--small">Small Island Developing States implemented policy measures to enhance agri-tourism following the CTA project, Linking agriculture to tourism markets in Africa, the Caribbean and the Pacific.</p>
                <div class="keys-illustration  |  gutters">
                    <img src="/assets/images/illustrations/farm.png" alt="farm" />
                </div>
            </div>
            <div class="keys-fact  |  gutters--double">
                <p class="statistic">62,141,973</p>
                <p class="lead-paragraph  |  leader--small">people and</p>
                <p class="statistic statistic--s">11</p>
                <p class="lead-paragraph  |  leader--small">articles were published by CTA experts.</p>
            </div>
        </div>
        <div class="keys-row">
            <div class="keys-fact  |  is-root  |  gutters--double">
                <p class="statistic">254,364</p>
                <p class="lead-paragraph  |  leader--small">farmers have been profiled by the MUIIS project and</p>
                <p class="statistic statistic--s">3,130</p>
                <p class="lead-paragraph  |  leader--small">producers are subscribed to one or more MUIIS services.</p>
            </div>

            <div class="keys-fact  |  gutters--double">
                <p class="statistic">9,012</p>
                <p class="lead-paragraph  |  leader--small">views have been recorded on the CTA blog since its launch in October 2018.</p>
            </div>
            <div class="keys-fact  |  gutters--double">
                <p class="statistic">10,827</p>
                <p class="lead-paragraph  |  leader--small">pastoralists purchased livestock insurance in Ethiopia and Kenya.</p>
            </div>
        </div>
        <div class="keys-row">
            <div class="keys-fact keys--has-icon keys-bleed keys-bleed--right  |  is-root  |  gutters--double">
                <p class="statistic">200</p>
                <p class="lead-paragraph  |  leader--small">rural youths have been provided with entrepreneurship and technical training to establish rice agri-businesses in Senegal and Mali.</p>
                <div class="keys-illustration  |  gutters">
                    <img src="/assets/images/illustrations/lesson.png" alt="study" />
                </div>
            </div>
            <div class="keys-fact  |  gutters--double">
                <p class="statistic">326</p>
                <p class="lead-paragraph  |  leader--small">young businesses applied to Pitch AgriHack 2018;</p>
                <p class="statistic statistic--s">26</p>
                <p class="lead-paragraph  |  leader--small">finalist businesses where selected,</p>
                <p class="statistic statistic--s">14</p>
                <p class="lead-paragraph  |  leader--small">led by women;</p>
                <p class="statistic statistic--s">8</p>
                <p class="lead-paragraph  |  leader--small">companies (50% led by women) were awarded in front of African Heads of State.</p>
            </div>
        </div>
    </div>
</{{ config.container_tag|default('div') }}>
