{% import "macros/template.html.twig" as helper %}
{% set class = helper.class(config)|trim %}
{% set locales = {'en-GB': 'en', 'fr-FR': 'fr', 'es-ES': 'es', 'pt-PT': 'pt'} %}

{{ '/assets/css/exposition.css'|addStyle('styles') }}
{{ 'containers/channels/exposition/exposition.js.twig'|addScript('beforeBodyEnd') }}
<{{ config.container_tag|default('div') }} {{ helper.class_attribute(config, 'wings  |  no-overflow  |  keys-figures  |  exposition-wrapper')|raw }} id="section1" {{ helper.container_id_attribute(frontender, "frontender")|raw }}>
    <div class="section section--hidden  |  gutter-outside--right">
        <p class="section-number">1</p>
    </div>
    <h2 class="heading  |  section-heading  |  gutters  |  keys-header">{{ labels.title|t(locales) }}</h2>
    <div class="keys  |  leader-inside--hero">
        <div class="keys-row">
            <div class="keys-fact keys--has-icon keys-bleed  |  is-root  |  gutters--double">
                <p class="statistic">14</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'countries’ entrepreneurs have received training in drone operation and service delivery as part of the Eyes in the Sky project.', 'fr': "pays dont des entrepreneurs ont bénéficié d’une formation à l’utilisation des drones dans le cadre du projet « Transformer l’agriculture africaine – les yeux dans le ciel pour des technologies intelligentes au sol »."}|t(locales) }}</p>
                <div class="keys-illustration  |  gutters">
                    <img src="/assets/images/illustrations/crops.png" alt="crops" />
                </div>
            </div>
            <div class="keys-fact keys--has-icon  |  is-root  |  gutters--double">
                <p class="lead-paragraph">{{ {'en': ' ', 'fr': "Les 4 briefings de Bruxelles ont réuni"}|t(locales) }}</p>
                <p class="statistic">400</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'high-level participants attended 4 Brussels Briefings events.', 'fr': "participants de haut niveau."}|t(locales) }}</p>
                <div class="keys-illustration  |  gutters--double">
                    <img src="/assets/images/illustrations/farm2.png" alt="farm" />
                </div>
            </div>
            <div class="keys-fact  |  gutters--double">
                <p class="statistic">50</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'cooperatives and their members in Cameroon and DRC have been trained in good governance and leadership as part of the Manioc 21 programme.', 'fr': "coopératives et leurs membres au Cameroun et en RDC ont été formés à la bonne gouvernance et au leadership dans le cadre du programme Manioc 21."}|t(locales) }}</p>
            </div>
        </div>
        <div class="keys-row">
            <div class="keys-fact  |  gutters--double">
                <p class="lead-paragraph">{{ {'en': ' ', 'fr': "Le projet Data4Ag a enregistré"}|t(locales) }}</p>
                <p class="statistic">{{ {'en': '86,298', 'fr': "86 298"}|t(locales) }}</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'farmers were registered in East and South- ern Africa by the Data4Ag project which aims to improve their access to inputs, crop husbandry advice and markets.', 'fr': "inscriptions en Afrique de l’Est et en Afrique australe. Ce projet a pour but d’améliorer leur accès aux intrants, à des conseils en techniques culturales et aux marchés."}|t(locales) }}</p>
            </div>
            <div class="keys-fact keys--has-icon  |  is-root  |  gutters--double">
                <p class="statistic">3</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'Small Island Developing States implemented policy measures to enhance agri-tourism thanks to the CTA project, Linking agriculture to tourism markets in Africa, the Caribbean and the Pacific.', 'fr': "petits états insulaires en développement ont pris des mesures politiques dans le but d’améliorer l’agritourisme grâce au projet « Renforcer le lien entre l’agriculture et le marché du tourisme dans les pays ACP »."}|t(locales) }}</p>
                <div class="keys-illustration  |  gutters">
                    <img src="/assets/images/illustrations/farm.png" alt="farm" />
                </div>
            </div>
            <div class="keys-fact  |  gutters--double">
                <p class="statistic">{{ {'en': '62,141,973', 'fr': "62 141 973"}|t(locales) }}</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'was CTA’s global media reach in 2018 with 11 articles published by CTA experts.', 'fr': "lecteurs potentiels des articles mentionnant le CTA dans les médias ; 11 articles d’opinion ont par les experts du CTA."}|t(locales) }}</p>
            </div>
        </div>
        <div class="keys-row">
            <div class="keys-fact  |  is-root  |  gutters--double">
                <p class="lead-paragraph">{{ {'en': ' ', 'fr': "Le projet MUIIS a établi le profil de"}|t(locales) }}</p>
                <p class="statistic">{{ {'en': '254,364', 'fr': "254 364"}|t(locales) }}</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'farmers have been profiled by the MUIIS project and', 'fr': "producteurs et"}|t(locales) }}</p>
                <p class="statistic statistic--s">{{ {'en': '3,130', 'fr': "3 130"}|t(locales) }}</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'producers are subscribed to one or more MUIIS services.', 'fr': "exploitants se sont inscrits aux services fournis."}|t(locales) }}</p>
            </div>

            <div class="keys-fact  |  gutters--double">
                <p class="statistic">{{ {'en': '682,560', 'fr': "682 560"}|t(locales) }}</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'individual users viewed a total of 2,350,303 CTA web pages with a new blog currently driving 9% of traffic to the CTA website.', 'fr': "visiteurs ont consulté un total de 2 350 303 pages du site web du CTA qui compte un nouveau blog drainant 9% du trafic actuel vers le site."}|t(locales) }}</p>
            </div>

            <div class="keys-fact  |  gutters--double">
                <p class="statistic">{{ {'en': '4,166', 'fr': "4 166"}|t(locales) }}</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'individuals 35% of whom were women were trained on the benefits of open data for agriculture through the Data4Ag/GODAN Action projects.', 'fr': "personnes dont 35% de femmes en moyenne ont été formées sur les avantages des données ouvertes pour l’agriculture grâce aux projets Data4Ag/GODAN Action."}|t(locales) }}</p>
            </div>

            <div class="keys-fact  |  gutters--double">
                <p class="statistic">{{ {'en': '10,827', 'fr': "10 827"}|t(locales) }}</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'pastoralists purchased livestock insurance in Ethiopia and Kenya.', 'fr': "éleveurs ont contractualisé une assurance bétail en Éthiopie et au Kenya."}|t(locales) }}</p>
            </div>
        </div>
        <div class="keys-row">
            <div class="keys-fact keys--has-icon keys-bleed keys-bleed--right  |  is-root  |  gutters--double">
                <p class="statistic">326</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'young businesses applied to Pitch AgriHack 2018, 26 finalist businesses where selected, 14 led by women; 8 companies (50% led by women) were awarded in front of African Heads of State.', 'fr': "jeunes sociétés ont postulé au concours PitchAgrihack 2018, 26 entreprises, dont 14 dirigées par des femmes, ont été sélectionnées et 8 d’entre elles (dont 50% dirigées par des femmes) ont reçu leur prix devant des chefs d’état africains."}|t(locales) }}</p>
                <div class="keys-illustration  |  gutters">
                    <img src="/assets/images/illustrations/gender.png" alt="Gender" />
                </div>
            </div>
            <div class="keys-fact  |  is-root  |  gutters--double">
                <p class="statistic">{{ {'en': '2,101,637', 'fr': "2 101 637"}|t(locales) }}</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'downloads or views of CTA publications in 2018.', 'fr': "publications du CTA ont été téléchargées ou consultées en 2018."}|t(locales) }}</p>
            </div>
            <div class="keys-fact  |  is-root  |  gutters--double">
                <p class="statistic">200</p>
                <p class="lead-paragraph  |  leader--small">{{ {'en': 'rural youths have been provided with entrepreneurship and technical training to establish rice agri-businesses in Senegal and Mali.', 'fr': "jeunes ruraux ont bénéficié d’une formation technique et en entrepreunariat afin de créer des entreprises rizicoles au Sénégal et au Mali."}|t(locales) }}</p>
            </div>
        </div>
    </div>
</{{ config.container_tag|default('div') }}>
