{% import "macros/template.html.twig" as helper %}

{% if model.externalLink %}
    <aside class="trailer--hero  |  gutters" {{ helper.container_id_attribute(frontender, 'frontender')|raw }}>
        <h2 class="title title--apropos"><a href="{{ route({'page': model.path, 'id': model._id}) }}">{{ model.headline }}</a></h2>
        <p class="body--whisper  |  divider divider--bottom  |  leader-inside--small  |  trailer-inside--normal">{{ model.editorialComment }}</p>
        {% for download in model.externalLink %}
            <div class="trailer--small">
                <div class="media  |  leader--small">
                    <div class="media__figure">
                        <a class="icon icon--download" href="{{ download.url }}" target="_blank"></a>
                    </div>
                    <div class="media__body  |  gutters">
                        <a class="block-link  |  download-size" href="{{ download.url }}" target="_blank">
                            {{ download.name }}
                        </a>
                        {% if download.url %}
                            <span class="download-size">{{ download.url|getFileSize }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </aside>
{% endif %}
